{{- if .IsHome -}}
  {{-  $.Scratch.Set "twitter_handle" "devopsdays" -}}
  {{-  $.Scratch.Set "sharing_title" "devopsdays" -}}
{{- end -}}

<!-- end metadata -->
{{- if .IsPage -}}

  {{ if eq (index (split (.Permalink | relURL) "/") 1) "new-events" }}
    {{- $event_year := (index (split (.Permalink | relURL) "/") 2) -}}
    {{- $event_city := (index (split (.Permalink | relURL) "/") 3) -}}
    {{- $event_homepage := (printf "/new-events/%s/%s" $event_year $event_city) -}}
    {{- $event_data := .Site.GetPage $event_homepage -}}
    {{- if $event_data.Params.event_twitter -}}
      {{- if ne $event_data.Params.event_twitter "" -}}
        {{- $.Scratch.Set "twitter_handle" $event_data.Params.event_twitter -}}
      {{- end -}}
    {{- end -}}
    {{- if isset .Params "Title" -}}
      {{- if ne .Params.Title "" -}}
        {{- $.Scratch.Set "sharing_title" .Params.Title -}}
      {{- end -}}
    {{- else -}}
      {{- $sharing_title := (printf "devopsdays %s - %s" $event_data.Params.city $event_year) -}}
      {{- $.Scratch.Set "sharing_title" $sharing_title -}}
    {{- end -}}
  {{- else -}}
    {{- $.Scratch.Set "twitter_handle" "devopsdays" -}}
    {{- if isset .Params "Title" -}}
      {{- if ne .Params.Title "" -}}
        {{- $.Scratch.Set "sharing_title" .Params.Title -}}
      {{- end -}}
    {{- else -}}
      {{- if eq .Type "blog" -}}
        {{- $.Scratch.Set "sharing_title" .Params.Title -}}
      {{- else -}}
        {{- $.Scratch.Set "sharing_title" "devopsdays" -}}
      {{- end -}}
    {{- end -}}
  {{- end -}}
{{- end -}}

<script>
//shares


$(document).ready(function () {
  //YOUR JQUERY CODE

  $("#share").jsSocials({
      shares: ["email", {share: "twitter", via: '{{ $.Scratch.Get "twitter_handle" }}'}, "facebook", "linkedin"],
      text: '{{ ($.Scratch.Get "sharing_title") }}',
      showLabel: false,
      showCount: false
  });
});

</script>
