
<nav class="navbar bottom navbar-light footer-nav-row" style="background-color: #bfbfc1;">
  <div class = "row">
    <div class = "col-md-12 footer-nav-background">
      <div class = "row">
            <div class = "col-md-6 col-lg-3 footer-nav-col">
      <h3 class="footer-nav">@DEVOPSDAYS</h3>
      <div>
          <a class="twitter-timeline" data-dnt="true" href="https://twitter.com/devopsdays/lists/devopsdays" data-chrome="noheader" height="440"></a>

          <script>
              ! function(d, s, id) {
                  var js, fjs = d.getElementsByTagName(s)[0],
                      p = /^http:/.test(d.location) ? 'http' : 'https';
                  if (!d.getElementById(id)) {
                      js = d.createElement(s);
                      js.id = id;
                      js.src = p + "://platform.twitter.com/widgets.js";
                      fjs.parentNode.insertBefore(js, fjs);
                  }
              }(document, "script", "twitter-wjs");
          </script>
      </div>
  </div>
  <div class="col-md-6 col-lg-3 footer-nav-col footer-content">
    <h3 class="footer-nav">BLOG</h3>
    {{- range first 2 (where .Site.Pages "Type" "blog") -}}
      <a href = "{{ .Permalink }}"><h1 class = "footer-heading">{{ .Title }}</h1></a>
      {{- if isset .Params "author" -}}
        <h2 class="footer-heading">by {{ .Params.author }} - {{ dateFormat "02 January, 2006" .Date }}</h2>
      {{- else -}}
        <h2 class="footer-heading">{{ dateFormat "02 January, 2006" .Date }}</h2>
      {{- end -}}
      <p class="footer-content">
        {{- if isset .Params "description" -}}
          {{- if ne .Params.descripton "" -}}
            {{ .Params.description | markdownify }}
          {{- end -}}
        {{- else -}}
          {{ .Summary }}
        {{- end -}}
      </p>
    {{- end -}}
    <a href="https://www.devopsdays.org/blog/index.xml">Feed</a>
  </div>
  <div class="col-md-6 col-lg-3 footer-nav-col">
      <h3 class="footer-nav">CFP OPEN</h3>
      {{- range sort $.Site.Data.events "startdate" -}}
        {{- if .cfp_date_end -}}
          {{- if and (ge now (time .cfp_date_start)) (ge (time .cfp_date_end) now) -}}
            <a href = "{{ (printf "events/%s" .name) | absURL }}" class = "footer-content">{{ .city }}</a><br />
          {{- end -}} {{/* end: date is now or afterwards */}}
        {{- end -}} {{/* end: if .cfp_date_end */}}
      {{- end -}} {{/* end: range sort $.Site.Data.events "startdate" */}}
      <br />Propose a talk at an event near you!<br />
  </div>
  <div class="col-md-6 col-lg-3 footer-nav-col">
    <h3 class="footer-nav">About</h3>
    devopsdays is a worldwide community conference series for anyone interested in IT improvement.<br /><br />
    <a href="/about/" class = "footer-content">About devopsdays</a><br />
    <a href="/privacy/" class = "footer-content">Privacy Policy</a><br />
    <a href="/conduct/" class = "footer-content">Code of Conduct</a>
</div>
    </div>
  </div>

  </div>

</nav>
