{{- if .IsHome -}}
  {{-  $.Scratch.Set "twitter_handle" "devopsdays" -}}
  {{-  $.Scratch.Set "sharing_title" "devopsdays" -}}
{{- end -}}

<!-- end metadata -->
{{- if .IsPage -}}

  {{ if eq (index (split (.Permalink | relURL) "/") 1) "events" }}
    {{- $e := partial "functions/get-event-data" . -}}
    {{- if $e.event_twitter -}}
      {{- if ne $e.event_twitter "" -}}
        {{- $.Scratch.Set "twitter_handle" $e.event_twitter -}}
      {{- end -}}
    {{- end -}}
    {{- if isset .Params "Title" -}}
      {{- if ne .Params.Title "" -}}
        {{- $.Scratch.Set "sharing_title" .Params.Title -}}
      {{- end -}}
    {{- else -}}
      {{- $sharing_title := (printf "devopsdays %s - %s" $e.city $e.year) -}}
      {{- $.Scratch.Set "sharing_title" $sharing_title -}}
    {{- end -}}
    {{- /* Build social shares array based on event configuration or use defaults */ -}}
    {{- $shares := slice -}}
    {{- if $e.social_shares -}}
      {{- range $e.social_shares -}}
        {{- if eq . "twitter" -}}
          {{- $shares = $shares | append (dict "share" "twitter" "via" ($.Scratch.Get "twitter_handle")) -}}
        {{- else -}}
          {{- $shares = $shares | append . -}}
        {{- end -}}
      {{- end -}}
    {{- else -}}
      {{- /* Default: all social share buttons */ -}}
      {{- $shares = slice "email" (dict "share" "twitter" "via" ($.Scratch.Get "twitter_handle")) "facebook" "linkedin" -}}
    {{- end -}}
    {{- $.Scratch.Set "social_shares" $shares -}}
  {{- else -}}
    {{- $.Scratch.Set "twitter_handle" "devopsdays" -}}
    {{- if isset .Params "Title" -}}
      {{- if ne .Params.Title "" -}}
        {{- $.Scratch.Set "sharing_title" .Params.Title -}}
      {{- else -}}
        {{- $.Scratch.Set "sharing_title" .Title -}}
      {{- end -}}
    {{- else -}}
      {{- if eq .Type "blog" -}}
        {{- $.Scratch.Set "sharing_title" .Title -}}
      {{- else -}}
        {{- $.Scratch.Set "sharing_title" "devopsdays" -}}
      {{- end -}}
    {{- end -}}
  {{- end -}}
{{- end -}}
{{- /* Ensure sharing_title is always set */ -}}
{{- if not ($.Scratch.Get "sharing_title") -}}
  {{- $.Scratch.Set "sharing_title" "devopsdays" -}}
{{- end -}}
{{- /* Build shares array as JavaScript string before script tag */ -}}
{{- $shares := $.Scratch.Get "social_shares" -}}
{{- if or (not $shares) (eq (len $shares) 0) -}}
  {{- /* Default for non-event pages */ -}}
  {{- $shares = slice "email" (dict "share" "twitter" "via" ($.Scratch.Get "twitter_handle")) "facebook" "linkedin" -}}
{{- end -}}
{{- $shares_js_parts := slice -}}
{{- range $shares -}}
  {{- $share_str := "" -}}
  {{- $current_item := . -}}
  {{- if or (eq $current_item "email") (eq $current_item "facebook") (eq $current_item "linkedin") -}}
    {{- $share_str = printf "\"%s\"" $current_item -}}
  {{- else -}}
    {{- $twitter_share_val := index $current_item "share" -}}
    {{- if $twitter_share_val -}}
      {{- $share_str = printf "{share: \"%s\", via: '%s'}" $twitter_share_val ($.Scratch.Get "twitter_handle") -}}
    {{- end -}}
  {{- end -}}
  {{- if $share_str -}}
    {{- $shares_js_parts = $shares_js_parts | append $share_str -}}
  {{- end -}}
{{- end -}}
{{- $shares_js_str := delimit $shares_js_parts ", " -}}
{{- $.Scratch.Set "shares_js" $shares_js_str -}}

<script>
//shares


$(document).ready(function () {
  //YOUR JQUERY CODE

  $("#share").jsSocials({
      shares: [{{ $.Scratch.Get "shares_js" }}],
      text: '{{ ($.Scratch.Get "sharing_title") }}',
      showLabel: false,
      showCount: false
  });
});

</script>
