{{- if .IsHome -}}
  {{- partial "map.html" . -}}
  {{-  $.Scratch.Set "twitter_handle" "devopsdays" -}}
  {{-  $.Scratch.Set "sharing_title" "devopsdays" -}}
{{- end -}}

<!-- set strutured metadata -->
{{- if .IsPage -}}
  {{- if or (eq .Type "welcome") (eq .Type "event") -}}
    {{- partial "events/event_metadata.html" . -}}
  {{- end -}}
{{- end -}}
<!-- end metadata -->
<script src={{"js/devopsdays-min.js" | absURL}}></script>
{{- if .IsPage -}}

  {{ if eq (index (split (.Permalink | relURL) "/") 1) "events" }}
    {{- $e := (index $.Site.Data.events (index (split (.Permalink | relURL) "/") 2)) -}}
    {{- if $e.event_twitter -}}
      {{- if ne $e.event_twitter "" -}}
        {{- $.Scratch.Set "twitter_handle" $e.event_twitter -}}
      {{- end -}}
    {{- end -}}
    {{- if isset .Params "Title" -}}
      {{- if ne .Params.Title "" -}}
        {{- $.Scratch.Set "sharing_title" .Params.Title -}}
      {{- end -}}
    {{- else -}}
      {{- $sharing_title := (printf "devopsdays %s - %s" $e.city $e.year) -}}
      {{- $.Scratch.Set "sharing_title" $sharing_title -}}
    {{- end -}}
  {{- else -}}
    {{- $.Scratch.Set "twitter_handle" "devopsdays" -}}
    {{- if isset .Params "Title" -}}
      {{- if ne .Params.Title "" -}}
        {{- $.Scratch.Set "sharing_title" .Params.Title -}}
      {{- end -}}
    {{- else -}}
      {{- if eq .Type "blog" -}}
        {{- $.Scratch.Set "sharing_title" .Params.Title -}}
      {{- else -}}
        {{- $.Scratch.Set "sharing_title" "devopsdays" -}}
      {{- end -}}
    {{- end -}}
  {{- end -}}
{{- end -}}

<script>
//shares


$(document).ready(function () {
  //YOUR JQUERY CODE

  $("#share").jsSocials({
      shares: ["email", {share: "twitter", via: '{{ $.Scratch.Get "twitter_handle" }}'}, "facebook", "linkedin"],
      text: '{{ ($.Scratch.Get "sharing_title") }}',
      showLabel: false,
      showCount: false
  });
});

</script>
