{{- $upcoming := partial "functions/get-upcoming-events" . -}}
{{- $tbd := partial "functions/get-tbd-events" . -}}

{{- $currentYear := "" -}}
{{- $currentMonth := "" -}}

{{- range sort $upcoming "startdate" -}}
  {{- $year := time.Format "2006" .startdate -}}
  {{- $month := time.Format "January" .startdate -}}
  {{- if ne $currentYear $year -}}
    {{- $currentYear = $year -}}
    <h3 class="left-nav-year mt-4">{{ $year }}</h3>
    {{- $currentMonth = "" -}}
  {{- end -}}
  {{- if ne $currentMonth $month -}}
    {{- $currentMonth = $month -}}
    <h4 class="left-nav-months">{{ $month }}</h4>
  {{- end -}}
  {{- $start := time.AsTime .startdate -}}
  {{- $end := time.AsTime .enddate -}}
  {{- if or (ne $start.Month $end.Month) (ne $start.Day $end.Day) -}}
    {{- if eq $start.Month $end.Month -}}
      <a href="{{ printf "/events/%s" .name }}" class="left-nav-event">
        {{ time.Format "Jan 2" .startdate }} - {{ time.Format "2" .enddate }}: {{ .city }}
      </a>
    {{- else -}}
      <a href="{{ printf "/events/%s" .name }}" class="left-nav-event">
        {{ time.Format "Jan 2" .startdate }} - {{ time.Format "Jan 2" .enddate }}: {{ .city }}
      </a>
    {{- end -}}
  {{- else -}}
    <a href="{{ printf "/events/%s" .name }}" class="left-nav-event">
      {{ time.Format "Jan 2" .startdate }}: {{ .city }}
    </a>
  {{- end -}}
{{- end -}}
<h3 class="left-nav-year mt-3">TBD</h3>
{{- range sort $tbd "city" -}}
  <a href="{{ printf "/events/%s" .name }}" class="left-nav-event">{{ .city }}</a>
{{- end -}}
