{{ partial "google_analytics.html" . }}
<link href="/css/site.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700" rel="stylesheet">
<link href="/css/googlemaps.css" rel="stylesheet">

<link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">

{{ if .IsPage }}
  {{ if eq .Type "blog" }}
    <link href="{{ $.Site.Params.weburl }}/blog/index.xml" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
    <link href="{{ $.Site.Params.weburl }}/blog/index.xml" rel="feed" type="application/rss+xml" title="{{ .Site.Title }}" />
  {{ else }}
    {{ if eq .Type "speaking" }}
      <link href="{{ $.Site.Params.weburl }}/speaking/index.xml" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
      <link href="{{ $.Site.Params.weburl }}/speaking/index.xml" rel="feed" type="application/rss+xml" title="{{ .Site.Title }}" />
    {{ else }}
      <link href="{{ $.Site.Params.weburl }}/events/index.xml" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
      <link href="{{ $.Site.Params.weburl }}/events/index.xml" rel="feed" type="application/rss+xml" title="{{ .Site.Title }}" />
    {{ end }}
  {{ end }}
{{ else }}
  <link href="{{ $.Site.Params.weburl }}/events/index.xml" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
  <link href="{{ $.Site.Params.weburl }}/events/index.xml" rel="feed" type="application/rss+xml" title="{{ .Site.Title }}" />
{{ end }}

<!-- <link rel="alternate" type="application/rss+xml" title="devopsdays RSS Feed" href="{{ $.Site.Params.weburl }}/blog/feed/"> -->
