{{- partial "meta.html" . -}}
{{- partial "head/seo.html" . -}}

<title>
    {{- if .IsHome -}}
      {{ $.Scratch.Set "title" "devopsdays" }}
    {{- else -}}
      {{- if .IsPage -}}
        {{- if or (eq .Type "welcome") (eq .Type "event") (eq .Type "speakers") (eq .Type "talk") (eq .Type "speaker") (eq .Type "program") -}}
          {{- $event_year := (index (split (.Permalink | relURL) "/") 2) -}}
          {{- $event_city := (index (split (.Permalink | relURL) "/") 3) -}}
          {{- $event_homepage := (printf "/new-events/%s/%s" $event_year $event_city) -}}
          {{- $event_data := .Site.GetPage $event_homepage -}}
          {{- if eq (lower .Title) "welcome" -}}
            {{- $.Scratch.Set "title" (printf "devopsdays %s %s" $event_data.Params.city $event_year) -}}
          {{- else if eq (lower .Title) "conduct" -}}
            {{- $.Scratch.Set "title" (printf "devopsdays %s %s - code of conduct" $event_data.Params.city $event_year) -}}
          {{- else if eq (lower .Title) "contact" -}}
            {{- $.Scratch.Set "title" (printf "devopsdays %s %s - contact information" $event_data.Params.city $event_year) -}}
          {{- else if eq (lower .Title) "location" -}}
            {{- $.Scratch.Set "title" (printf "devopsdays %s %s - location information" $event_data.Params.city $event_year) -}}
          {{- else if eq (lower .Title) "program" -}}
            {{- $.Scratch.Set "title" (printf "devopsdays %s %s - program" $event_data.Params.city $event_year) -}}
          {{- else if eq (lower .Title) "propose" -}}
            {{- $.Scratch.Set "title" (printf "devopsdays %s %s - propose a talk" $event_data.Params.city $event_year) -}}
          {{- else if eq (lower .Title) "registration" -}}
            {{- $.Scratch.Set "title" (printf "devopsdays %s %s - register" $event_data.Params.city $event_year) -}}
          {{- else if eq (lower .Title) "speakers" -}}
            {{- $.Scratch.Set "title" (printf "devopsdays %s %s - speakers" $event_data.Params.city $event_year) -}}
          {{- else if eq (lower .Title) "sponsor" -}}
            {{- $.Scratch.Set "title" (printf "devopsdays %s %s - sponsorship information" $event_data.Params.city $event_year) -}}
          {{- else if eq .Type "talk" -}}
            {{- $.Scratch.Set "title" (printf "%s - devopsdays %s %s" .Title $event_data.Params.city $event_year) -}}
          {{- else if eq .Type "speaker" -}}
            {{- $.Scratch.Set "title" (printf "%s - devopsdays %s %s" .Title $event_data.Params.city $event_year) -}}
          {{- else -}}
            {{- $.Scratch.Set "title" .Title -}}
          {{- end -}}
          {{- if not ($.Scratch.Get "title") -}}
            {{- $.Scratch.Set "title" .Title -}}
          {{- end -}}
        {{- end -}}
        {{- if not ($.Scratch.Get "title") -}}
          {{- $.Scratch.Set "title" .Title -}}
        {{- end -}}
      {{- else -}}
        {{- $.Scratch.Set "title" .Title -}}
      {{- end -}}
    {{- end -}}
  {{ $.Scratch.Get "title" }}
</title>
{{- partial "head_includes.html" . -}}
