<div class = "row">
  <div class = "col-md-12">
    <h2>Past</h2>
  </div>
</div>
<div class = "row">
  {{- $.Scratch.Set "close-tag" "false" -}}
  {{- range sort (where (where (where (where (where .Site.Pages "Type" "new-event") ".File.BaseFileName" "==" "_index") ".Params.startdate" "!=" nil) ".Params.enddate" "lt" now) ".Params.cancel" "ne" "true") ".Params.startdate" -}} 
    {{- $event_city := (index (split (.Permalink | relURL) "/") 3) -}}
    {{- $event_year := (index (split (.Permalink | relURL) "/") 2) -}}
    {{- if ne ($.Scratch.Get "year") (dateFormat "2006" .Params.startdate) -}}
      {{- $.Scratch.Set "year" (dateFormat "2006" .Params.startdate) -}}
      {{- $.Scratch.Set "year-displayed" "false" -}}
    {{- end -}}
    {{- if ne ($.Scratch.Get "year-displayed") "true" -}}
      {{- if eq ($.Scratch.Get "close-tag") "true"}}
        </div>
      {{- end -}}
      <div class = "col-md-6 col-lg-3 events-page-col">
        <h4 class = "events-page-months">{{ dateFormat "2006" .Params.startdate }}</h4>
        <br />
        {{- $.Scratch.Set "year-displayed" "true" -}}
        {{- $.Scratch.Set "close-tag" "true" -}}
    {{- end -}}
    <a href = "{{ (printf "/new-events/%s/%s" $event_year $event_city ) }}" class = "events-page-event">
      {{ .Params.city}}
    </a><br/>



  {{- end -}}

</div>

