<!-- Search Modal -->
<div id="modalSearch" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Search devopsdays</h4>
            </div>
            <div class="modal-body">
                <script>
                    (function() {
                        var cx = '008769174023796316711:pj3syggtkz0';
                        var gcse = document.createElement('script');
                        gcse.type = 'text/javascript';
                        gcse.async = true;
                        gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
                        var s = document.getElementsByTagName('script')[0];
                        s.parentNode.insertBefore(gcse, s);
                    })();
                </script>
                <gcse:search></gcse:search>
                <!-- These styles fix CSE and Bootstrap 3 conflict -->
                <style type="text/css">
                    .reset-box-sizing,
                    .reset-box-sizing *,
                    .reset-box-sizing *:before,
                    .reset-box-sizing *:after,
                    .gsc-inline-block {
                        -webkit-box-sizing: content-box;
                        -moz-box-sizing: content-box;
                        box-sizing: content-box;
                    }

                    input.gsc-input,
                    .gsc-input-box,
                    .gsc-input-box-hover,
                    .gsc-input-box-focus,
                    .gsc-search-button {
                        box-sizing: content-box;
                        line-height: normal;
                    }
                </style>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
