{{- $.Scratch.Add "events" "<table id = 'cfp-list' class = 'table table-condensed'><thead><tr><th>City</th><th>&nbsp;&nbsp;CFP Closes</th><th>&nbsp;&nbsp;&nbsp;&nbsp;Event Starts</th></tr></thead><tbody>" -}}
  
{{ $upcoming := slice }}
{{- $upcoming = partial "functions/get-upcoming-events" . -}}



{{- range sort $upcoming "startdate" -}}
  {{- if (and .cfp_date_end .startdate) -}}
  {{- if ne .cancel "true" -}}
    {{- if and (ge now (time .cfp_date_start)) (ge (time .cfp_date_end) now) -}}
      {{- $.Scratch.Add "events" "<tr><td>" -}}
      {{- $.Scratch.Add "events" "<a href = '"  -}}
      {{/*  {{- $.Scratch.Add "events" "'/events/" -}}
      {{- $.Scratch.Add "events" .name -}}
      {{- $.Scratch.Add "events" "/'"  -}}  */}}
      {{- $.Scratch.Add "events" (partial "functions/get-cfp-url" .) -}}
      {{- $.Scratch.Add "events" "' class = 'speaking'>" -}}
      {{- $.Scratch.Add "events" .city -}}
      {{- $.Scratch.Add "events" "</a>" -}}
      {{- $.Scratch.Add "events" "</td><td>&nbsp;&nbsp;" -}}
      {{- $.Scratch.Add "events" (dateFormat "2006-01-02" .cfp_date_end) -}}
      {{- $.Scratch.Add "events" "</td><td>&nbsp;&nbsp;&nbsp;&nbsp;" -}}
      {{- $.Scratch.Add "events" (dateFormat "2006-01-02" .startdate) -}}
      {{- $.Scratch.Add "events" "</td></tr>" -}}
    {{- end }} {{/* end: date is now or afterwards */}}
    {{- end -}}
  {{- end }} {{/* end: if .cfp_date_end */}}
{{ end }} {{/* end: range sort $.Site.Data.events "startdate" */}}
{{- $.Scratch.Add "events" "</tbody></table>" -}}
{{ $.Scratch.Get "events" | safeHTML }}
