{{ $path := split $.Source.File.Path .Site.Params.PathSeparator }}
{{ $event_slug := index $path 1 }}
{{ $e :=  (index $.Site.Data.events $event_slug) }}

  {{- if $e.sponsor_levels -}}
    {{- range $index, $level := $e.sponsor_levels -}}
      {{ $.Scratch.Set $level.id 0 }}

      <div class="row cta-row">
          <!--first sponsor row-->
          <div class="col-md-12">
            <h4 class="sponsor-cta">{{ $level.label }} Sponsors</h4>
            {{ if $e.sponsors}}
              {{ range where $e.sponsors "level" $level.id }}
                {{ $.Scratch.Add $level.id 1 }}
              {{ end }}
            {{ end }}
            {{- if ( $e.startdate) or (ge (dateFormat "2006-01-02" $e.startdate) (dateFormat "2006-01-02" ($.Now.Format "2006-01-02"))) -}}
              {{- if ne $e.sponsors_accepted "no" -}}
                {{- if or (not $level.max) (lt ($.Scratch.Get $level.id) $level.max) -}}
                  <a href = "/events/{{ $e.name }}/sponsor" class="sponsor-cta">
                    <i>Become a {{ $level.label }} Sponsor!</i>
                  </a>
                {{- end -}}
              {{- end -}}
              {{- end -}}
            </div>{{ "<!-- close sponsor type header div-->" | safeHTML}}
          </div>{{ "<!-- close sponsor type header row-->" | safeHTML}}
        {{- if $e.sponsors -}}
          <div class="row sponsor-row">
          {{- range where $e.sponsors "level" $level.id -}}
            {{ $s := (index $.Site.Data.sponsors .id) }}

            {{ if isset $.Site.Data.sponsors .id }}

              <div class = "col-lg-1 col-md-2 col-4">
                <a href = "{{ $s.url }}"><img src = "/img/sponsors/{{ .id }}.png" alt = "{{ $s.name }}" title = "{{ $s.name }}" class="img-fluid"></a>
              </div>{{ "<!-- close individual sponsor div-->" | safeHTML}}
            {{- end -}}
          {{- end -}}
        </div>{{ "<!-- close sponsor content row -->" | safeHTML}}


  {{- end -}}
{{- end -}}
{{- end -}}
<br />
