{{- $e := (index $.Site.Data.events (index (split (.Permalink | relURL) "/") 2)) -}}

  {{- if $e.sponsor_levels -}}
    {{- range $index, $level := $e.sponsor_levels -}}
      {{- $.Scratch.Set $level.id 0 -}}

      <div class="row cta-row">
          <!--first sponsor row-->
          <div class="col-md-12">
            {{- if eq $level.max "1" -}}
              <h4 class="sponsor-cta">{{ $level.label }} Sponsor</h4>
            {{- else -}}
              <h4 class="sponsor-cta">{{ $level.label }} Sponsors</h4>
            {{- end -}}
            {{- if $e.sponsors -}}
              {{- range where $e.sponsors "level" $level.id -}}
                {{- $.Scratch.Add $level.id 1 -}}
              {{- end -}}
            {{- end -}}
            {{- if ( $e.startdate) or (ge (dateFormat "2006-01-02" $e.startdate) (dateFormat "2006-01-02" (dateFormat "2006-01-02" now))) -}}
              {{- if ne $e.sponsors_accepted "no" -}}
                {{- if or (not $level.max) (lt ($.Scratch.Get $level.id) $level.max) -}}
                  {{- with $e.sponsor_link -}}
                    <a href = "{{ . }}" class="sponsor-cta">
                  {{- else -}}
                    <a href = "{{ (printf "events/%s/sponsor" $e.name) | absURL }}" class="sponsor-cta">
                  {{- end -}}
                    <i>Become a {{ $level.label }} Sponsor!</i>
                  </a>
                {{- end -}}
              {{- end -}}
              {{- end -}}
            </div>
          </div>
        {{- if $e.sponsors -}}
          <div class="row sponsor-row">
          {{- range where $e.sponsors "level" $level.id -}}
            {{- $s := (index $.Site.Data.sponsors .id) -}}
            {{- if isset $.Site.Data.sponsors .id -}}
              {{- if .url }}
                {{- $.Scratch.Set "SponsorURL" .url -}}
              {{- else }}
                {{- $.Scratch.Set "SponsorURL" $s.url -}}
              {{- end -}}

              <div class = "col-lg-1 col-md-2 col-4">
                <a href = "{{ $.Scratch.Get "SponsorURL" }}"><img src = "/img/sponsors/{{ .id }}.png" alt = "{{ $s.name }}" title = "{{ $s.name }}" class="img-fluid"></a>
              </div>
            {{- end -}}
          {{- end -}}
        </div>
  {{- end -}}
{{- end -}}
{{- end -}}
<br />
