{{- $upcoming := partial "functions/get-upcoming-events" . -}}
<table id="cfp-list" class="table table-condensed">
  <thead>
    <tr><th>City</th><th>&nbsp;&nbsp;&nbsp;&nbsp;Event Starts</th></tr>
  </thead>
  <tbody>
    {{- range sort $upcoming "startdate" -}}
      {{- if and .sponsors_accepted .startdate -}}
        {{- if ge (time.AsTime .enddate) now -}}
          <tr>
            <td><a href='{{ printf "/events/%s/" .name }}'>{{ .city }}</a></td>
            <td>&nbsp;&nbsp;{{ time.Format "2006-01-02" .startdate }}</td>
          </tr>
        {{- end -}}
      {{- end -}}
    {{- end -}}
  </tbody>
</table>
