{{- $e := (index $.Site.Data.events (index (split (.Permalink | relURL) "/") 2)) -}}
{{- $.Scratch.Set "contentdir" (printf "static/events/%s/" $e.name) -}}

    {{- if $e.masthead_background -}}
      {{- if ne $e.masthead_background "" -}}
      {{- if (where (readDir "static/events") "Name" $e.name) -}}
        {{- if (where (readDir ($.Scratch.Get "contentdir")) "Name" $e.masthead_background) -}}
        <style>

          .welcome-page-masthead {
            background: #bfbfc1; /* For browsers that do not support gradients */
            background: -webkit-linear-gradient(#0082AB, #bfbfc1); /* For Safari 5.1 to 6.0 */
            background: -o-linear-gradient(#0082AB, #bfbfc1); /* For Opera 11.1 to 12.0 */
            background: -moz-linear-gradient(#0082AB, #bfbfc1); /* For Firefox 3.6 to 15 */
            background: linear-gradient(#0082AB, #bfbfc1); /* Standard syntax */
            padding: 20px;
            margin-bottom:20px;
            margin-top:20px;
            z-index: 1;
          }
          .welcome-page-masthead:before {
            content: ' ';
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
            opacity: 0.2;
            background-image: url('{{ (printf "/events/%s/%s" $e.name $e.masthead_background) }}');
            background-repeat: no-repeat;
            background-position: 50% 0;
            -ms-background-size: cover;
            -o-background-size: cover;
            -moz-background-size: cover;
            -webkit-background-size: cover;
            background-size: cover;

          }


        </style>

      {{- end -}}
    {{- end -}}
  {{- end -}}
{{- end -}}
<div class="row">
  <div class = "col-md-12 welcome-page-masthead">
  <div class = "row">
    <div class="col-xs-12 col-md-8">
      <h1 class = "welcome-page">devopsdays {{$e.city}}</h1>

    {{- if $e.startdate -}}
      {{- if or (ne (time $e.startdate).Month (time $e.enddate).Month) (ne (time $e.startdate).Day (time $e.enddate).Day) -}}
            <span class="welcome-page-date">
            {{ dateFormat "January 2" $e.startdate }} - {{ dateFormat "2, 2006" $e.enddate }}<br />
            </span>
      {{- else -}}
            <span class="welcome-page-date">
          {{ dateFormat "January 2, 2006" $e.startdate }}<br />
            </span>
      {{- end -}}
    {{- end -}}

        <br />

        {{- if $e.location -}}
          <span class = "welecome-page-masthead-venue">{{- $e.location -}}</span>
          <br />
          {{- if $e.location_address -}}
            <span><a href = "http://maps.google.com/?q={{$e.location_address}}" class = "welcome-page-masthead-link">{{ $e.location_address }}</a></span>
                        <br />
          {{- end -}}
        {{- end -}}

        {{- if $e.description -}}
          {{ $e.description | markdownify }}
           <br /><br />
        {{- end -}}

        {{- if $e.city -}}
          {{- $.Scratch.Set "past-counter" 0 -}}
          {{- range sort $.Site.Data.events "startdate" -}}
          {{- if .startdate -}}

            {{- if $e.event_group -}}
              {{- if eq .event_group $e.event_group -}}
                  {{- if and (ne .startdate $e.startdate) (ne ($.Scratch.Get "past-counter") 1 ) -}}
                    <i>Other {{ $e.event_group }} Events</i><br />
                    {{- $.Scratch.Set "past-counter" 1 -}}
                  {{- end -}}
                  {{- if ne .startdate $e.startdate -}}
                    <a href = "{{ (printf "/events/%s" .name) }}" class="welcome-page-masthead-link">{{ dateFormat "2006" .startdate }}</a> &nbsp;&nbsp;
                  {{- end -}}
              {{- end -}}
            {{- else -}}

              {{- if eq (lower .city) (lower $e.city) -}}
                {{- if and (ne .startdate $e.startdate) (ne ($.Scratch.Get "past-counter") 1 ) -}}
                  <i>Other {{ $e.city }} Events</i><br />
                  {{- $.Scratch.Set "past-counter" 1 -}}
                {{- end -}}
                {{- if ne .startdate $e.startdate -}}
                  <a href = "{{ (printf "/events/%s" .name) }}" class="welcome-page-masthead-link">{{ dateFormat "2006" .startdate }}</a> &nbsp;&nbsp;
                {{- end -}}
              {{- end -}}
              {{- end -}}
            {{- end -}}
          {{- end -}}
          <br /><br />
        {{- end -}}
</div>

 <div class="col-xs-12 col-md-4">
        {{- partial "events/cta.html" . -}}
    </div>
  </div>
</div>
</div>
<div class="row">
  <div class="col-md-12 content-text">
    {{ .Content }}
  </div>
</div>
