{{/* site data query copypasta */}}
{{ $path := split $.Source.File.Path .Site.Params.PathSeparator }}
{{ $event_slug := index $path 1 }}
{{ $e :=  (index $.Site.Data.events $event_slug) }}
{{/* end site data query */}}
{{ $.Scratch.Set "contentdir" (printf "static/events/%s/" $event_slug) }}

    {{ if $e.masthead_background }}
      {{ if ne $e.masthead_background "" }}
      {{if (where (readDir "static/events") "Name" $event_slug)}}
        {{ if (where (readDir ($.Scratch.Get "contentdir")) "Name" $e.masthead_background) }}
        <style>

          .welcome-page-masthead {
            background: #bfbfc1; /* For browsers that do not support gradients */
            background: -webkit-linear-gradient(#0082AB, #bfbfc1); /* For Safari 5.1 to 6.0 */
            background: -o-linear-gradient(#0082AB, #bfbfc1); /* For Opera 11.1 to 12.0 */
            background: -moz-linear-gradient(#0082AB, #bfbfc1); /* For Firefox 3.6 to 15 */
            background: linear-gradient(#0082AB, #bfbfc1); /* Standard syntax */
            padding: 20px;
            margin-bottom:20px;
            margin-top:20px;
            z-index: 1;
          }
          .welcome-page-masthead:before {
            content: ' ';
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
            opacity: 0.2;
            background-image: url('/events/{{ $event_slug }}/{{$e.masthead_background}}');
            background-repeat: no-repeat;
            background-position: 50% 0;
            -ms-background-size: cover;
            -o-background-size: cover;
            -moz-background-size: cover;
            -webkit-background-size: cover;
            background-size: cover;

          }


        </style>

      {{ end }}
    {{ end }}
  {{ end }}
{{ end }}
<div class="row">
  <div class = "col-md-12 welcome-page-masthead">


  <div class = "row">
    <div class="col-xs-12 col-md-8">
      <h1 class = "welcome-page">devopsdays {{$e.city}}</h1>
        <span class="welcome-page-date">
        {{ if $e.startdate }}
          {{- if ne $e.startdate $e.enddate }}
            {{- dateFormat "January 2" $e.startdate -}} - {{- dateFormat "2, 2006" $e.enddate -}}
          {{- else }}
            {{- dateFormat "January 2" $e.startdate -}}
          {{- end }}
        {{ end }}
        </span>
        <br />

        {{if $e.location }}
          <span class = "welecome-page-masthead-venue">{{- $e.location -}}</span>
          <br />
          {{ if $e.location_address }}
            <span><a href = "http://maps.google.com/?q={{$e.location_address}}" class = "welcome-page-masthead-link">{{ $e.location_address }}</a></span>
                        <br />
          {{ end }}
        {{ end }}

        {{ if $e.description }}
          {{ $e.description | markdownify }}
           <br /><br />
        {{ end }}

        {{if $e.city }}
          {{- $.Scratch.Set "past-counter" 0 -}}
          {{- range sort $.Site.Data.events "startdate" -}}
          {{- if .startdate -}} <!-- for some reason, it bails on the city Chicago, and also Paris -->
              {{- if eq (lower .city) (lower $e.city) -}}
                {{- if and (ne .startdate $e.startdate) (ne ($.Scratch.Get "past-counter") 1 ) -}}
                  <i>Past {{ $e.city }} Events</i><br />
                  {{- $.Scratch.Set "past-counter" 1 -}}
                {{- end -}}
              {{- if eq (lower .city) (lower $e.city)}}
                {{- if ne .startdate $e.startdate -}}
                  <a href = "/events/{{ .name }}" class="welcome-page-masthead-link">{{ dateFormat "2006" .startdate }}</a> &nbsp;&nbsp;
                {{- end -}}
              {{- end -}}
              {{- end -}}
            {{- end -}}
          {{- end -}}
          <br /><br />
        {{ end }}
</div>

 <div class="col-xs-12 col-md-4">
        {{ partial "events/cta.html" . }}
    </div>
  </div>
</div>
</div>
<div class="row">
  <div class="col-md-12 content-text">
    {{ .Content }}
  </div>
</div>
