{{- $e := partial "functions/get-event-data" . -}}
{{- $contentdir := printf "static/events/%s/" $e.name -}}

{{- partial "events/non-current-banner.html" . -}}

    {{- if and $e.masthead_background (ne $e.masthead_background "") -}}
      {{- if where (os.ReadDir "static/events") "Name" $e.name -}}
        {{- if where (os.ReadDir $contentdir) "Name" $e.masthead_background -}}
        <style>
          .welcome-page-masthead {
            background: linear-gradient(135deg, #0082AB, #bfbfc1);
            padding: 20px;
            margin-bottom: 20px;
            margin-top: 20px;
            z-index: 1;
          }
          .welcome-page-masthead:before {
            content: ' ';
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
            opacity: 0.2;
            background-image: url('{{ printf "/events/%s/%s" $e.name $e.masthead_background }}');
            background-repeat: no-repeat;
            background-position: 50% 0;
            background-size: cover;
          }
        </style>
      {{- end -}}
    {{- end -}}
  {{- end -}}
<div class="row h-event">
  <div class="col-md-12 welcome-page-masthead">
  <div class="row">
    <div class="col-xs-12 col-md-8">
      <h1 class="welcome-page p-name">devopsdays {{ $e.city }}</h1>
      <a class="u-url" href="{{ .Permalink }}"></a>

    {{- if $e.startdate -}}
      {{- $start := time.AsTime $e.startdate -}}
      {{- $end := time.AsTime $e.enddate -}}
      {{- if or (ne $start.Month $end.Month) (ne $start.Day $end.Day) -}}
            <span class="welcome-page-date">
                {{- if eq $start.Month $end.Month -}}
                    <time class="dt-start" datetime="{{ time.Format "2006-01-02T15:04:05-0700" $e.startdate }}">{{ time.Format "January 2" $e.startdate }}</time> - <time class="dt-end" datetime="{{ time.Format "2006-01-02T15:04:05-0700" $e.enddate }}">{{ time.Format "2, 2006" $e.enddate }}</time><br />
                {{- else -}}
                    <time class="dt-start" datetime="{{ time.Format "2006-01-02T15:04:05-0700" $e.startdate }}">{{ time.Format "Jan 2" $e.startdate }}</time> - <time class="dt-end" datetime="{{ time.Format "2006-01-02T15:04:05-0700" $e.enddate }}">{{ time.Format "Jan 2" $e.enddate }}</time><br />
                {{- end -}}
            </span>
      {{- else -}}
            <span class="welcome-page-date">
          <time class="dt-start" datetime="{{ time.Format "2006-01-02T15:04:05-0700" $e.startdate }}">{{ time.Format "January 2, 2006" $e.startdate }}</time><br />
            </span>
      {{- end -}}
    {{- end -}}

        <br />

        {{- with $e.location -}}
          <span class="welcome-page-masthead-venue{{ if not $e.location_address }} p-location{{ end }}">{{ . }}</span>
          <br />
          {{- with $e.location_address -}}
            <span><a href="http://maps.google.com/?q={{ . }}" class="welcome-page-masthead-link p-location">{{ . }}</a></span>
            <br />
          {{- end -}}
        {{- end -}}

        {{- with $e.description -}}
          <span class="e-summary">{{ . | markdownify }}</span>
          <br /><br />
        {{- end -}}

        {{- if $e.city -}}
          {{ $otherTitle := $e.city }}
          {{- with $e.event_group -}}
            {{ $otherTitle = . }}
          {{- end -}}

          {{ $other := slice }}
          {{- $events := partial "functions/get-all-events" . -}}
          {{- range sort $events "startdate" -}}
            {{- if and .startdate (ne .startdate $e.startdate) -}}
              {{- if or (eq (lower .city) (lower $otherTitle)) (eq (lower .event_group) (lower $otherTitle)) -}}
                {{ $other = append . $other }}
              {{- end -}}
            {{- end -}}
          {{- end -}}

          {{- if ne (len $other) 0 -}}
            <i>Other {{ $otherTitle }} Events</i><br />
            {{- range sort $other "startdate" -}}
              <a href='{{ printf "/events/%s" .name }}' class="welcome-page-masthead-link">{{ time.Format "2006" .startdate }}</a> &nbsp;&nbsp;
            {{- end -}}
          {{- end -}}
        {{- end -}}
        <br /><br />

</div>

 <div class="col-xs-12 col-md-4">
        {{- partial "events/cta.html" . -}}
    </div>
  </div>
</div>
</div>
<div class="row">
  <div class="col-md-12 content-text">
    {{ .Content }}
  </div>
</div>
