<meta itemprop="name" content="{{ .Title }}">
{{- if .IsHome -}}
  <meta itemprop="description" content="devopsdays is a worldwide community conference series for anyone interested in IT improvement." />
{{- else -}}
  <meta itemprop="description" content="{{ if .Description }}{{ .Description }}{{ else }}{{if .IsPage}}{{ .Summary }}{{ end }}{{ end }}">
{{- end -}}
{{- if or (eq .Type "welcome") (eq .Type "event") (eq .Type "speaker") (eq .Type "speakers") (eq .Type "talk") (eq .Type "program") -}}
  {{- $path := split ( .Permalink | relURL) "/" -}}
  {{- $event_slug := index $path 2 -}}
  <meta itemprop="image" content="{{ (printf "/events/%s/sharing.jpg" $event_slug) }}" />
{{- else -}}
  {{- with .Params.sharing_image -}}
    <meta itemprop="image" content="{{ . }}" />
  {{- else -}}
    <meta itemprop="image" content="{{ "/img/sharing.jpg" }}" />
  {{- end -}}
{{- end -}}
{{- if .IsPage -}}
<meta itemprop="wordCount" content="{{ .WordCount }}">
{{- end -}}
