<meta name="twitter:title" content="{{ .Title }}"/>
{{- if .IsHome -}}
  <meta name="twitter:description" content="devopsdays is a worldwide community conference series for anyone interested in IT improvement." />
{{- else -}}
  <meta name="twitter:description" content="{{ if .Description }}{{ .Description }}{{ else }}{{if .IsPage}}{{ .Summary }}{{ end }}{{ end }}" />
{{- end -}}
<meta name="twitter:site" content="@devopsdays">
{{- if or (eq .Type "welcome") (eq .Type "event") (eq .Type "speaker") (eq .Type "speakers") (eq .Type "talk") (eq .Type "program") -}}
  {{- $e := (index $.Site.Data.events (index (split (.Permalink | relURL) "/") 2)) -}}
  {{- $.Scratch.Set "contentdir" (printf "static/events/%s/" $e.name) -}}
  {{- if $e.event_twitter -}}
    <meta name="twitter:creator" content="@{{$e.event_twitter}}" />
  {{- end -}}
  {{- if (where (readDir "static/events") "Name" $e.name) -}}
    {{- if (where (readDir ($.Scratch.Get "contentdir")) "Name" "sharing.jpg") -}}
      {{- $.Scratch.Set "sharing_url" (printf "/events/%s/sharing.jpg" $e.name ) -}}
    {{- else -}}
      {{- $.Scratch.Set "sharing_url" ("/img/sharing.jpg" ) -}}
    {{- end -}}
  {{- end -}}
{{- else -}}
  {{- with .Params.sharing_image -}}
    {{- $.Scratch.Set "sharing_url" ( . ) -}}
  {{- else -}}
    {{- $.Scratch.Set "sharing_url" ("/img/sharing.jpg" ) -}}
  {{- end -}}
{{- end -}}
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:image" content="{{ $.Scratch.Get "sharing_url" }}" />
