.labels {
  color: black;
  background-color: white;
  font-family: "Lucida Grande", "Arial", sans-serif;
  font-size: 8px;
  font-weight: bold;
  text-align: center;

  border: 1px solid gray;
  white-space: nowrap;
}
