{{ define "main" }}
  {{- $e := index $.Site.Data.events (index (split (.Permalink | relURL) "/") 2) "main" -}}
  <div class="row">
      <div class="col-md-12 content-text">
          {{- if eq .File.BaseFileName "welcome" -}}
            {{- partial "welcome.html" . -}}
          {{- else -}}
            <h1>devopsdays {{ $e.city }} - {{ .Title }}</h1>
            {{ .Content }}
          {{ end }}
          <br />
         {{- partialCached "sponsors.html" . .File.Dir -}}
      </div>
  </div>
{{ end }}
