{{ define "main" }}
  {{- $e := partial "functions/get-event-data" . -}}
  <div class="row">
      <div class="col-md-12 content-text">
          {{- if eq .File.BaseFileName "welcome" -}}
            {{- partial "welcome.html" . -}}
          {{- else -}}
            <h1>devopsdays {{ $e.city }} - {{ .Title }}</h1>
            <!--translations-->
            <!-- :brazil: -->
            {{ if .IsTranslated }}
              <h4>{{ i18n "translations" }}</h4>
              <ul class="list-group list-group-horizontal">
                {{ range .Translations }}
                <li class="list-group-item">
                  <a href="{{ .RelPermalink }}">{{ .Language.Lang }}: {{ .LinkTitle }} {{ .Language.Params.flag | emojify}}</a>
                </li>
                {{ end }}
              </ul>
              {{ end }}
            <!-- end translations -->
            {{ .Content }}
          {{- end -}}
          <br />
         {{- partialCached "sponsors.html" . .File.Dir -}}
      </div>
  </div>
{{ end }}
