# This file identifies who needs to review pull requests that touch certain parts of the repo.
# Each line is a file pattern followed by one or more owners.

.gitignore  @devopsdays/core-infra
config.toml @devopsdays/code-reviewers
netlify.toml    @devopsdays/core-infra
gulpfile.js @devopsdays/core-infra
hugoserver.sh   @devopsdays/core-infra
hugoserver.ps1  @devopsdays/core-infra
package-lock.json   @devopsdays/core-infra
package.json    @devopsdays/core-infra
/data/core.toml @devopsdays/code-reviewers
/utilities/ @devopsdays/code-reviewers
/themes/devopsdays-theme/   @devopsdays/theme-maintainers
/content/page/  @devopsdays/code-reviewers
/.circleci/ @devopsdays/core-infra
/bin/   @devopsdays/core-infra
/.github/   @devopsdays/core-infra
/static/robots.txt @devopsdays/core-infra
