# This file identifies who needs to review pull requests that touch certain parts of the repo.
# Each line is a file pattern followed by one or more owners.

.gitignore  @mattstratton @bridgetkromhout @phrawzty @MikeRosTX
config.toml @mattstratton @bridgetkromhout @phrawzty @MikeRosTX
netlify.toml    @mattstratton @bridgetkromhout @phrawzty @MikeRosTX
gulpfile.js @mattstratton @bridgetkromhout
hugoserver.sh   @mattstratton @bridgetkromhout @phrawzty @MikeRosTX
hugoserver.ps1  @mattstratton @bridgetkromhout @phrawzty @MikeRosTX
package-lock.json   @mattstratton @bridgetkromhout
package.json    @mattstratton @bridgetkromhout
/data/core.toml @mattstratton @bridgetkromhout
/utilities/ @mattstratton @bridgetkromhout @phrawzty @MikeRosTX
/themes/devopsdays-theme/   @mattstratton @bridgetkromhout @phrawzty @MikeRosTX
/content/page/  @mattstratton @bridgetkromhout @phrawzty @MikeRosTX
/.circleci/ @mattstratton @bridgetkromhout 
/bin/   @mattstratton @bridgetkromhout
/.github/   @mattstratton @bridgetkromhout
