sudo: required

language: node_js
node_js:
  - "6"

services:
  - docker

before_install:
  - docker run --name "hugo-server" -P -v $(pwd):/src -v $(pwd)/public:/output jojomi/hugo:0.55

before_script:
- npm install -g gulp
- npm install

script:
  - ls
  - for i in $(find . -type f -name "*.sh"); do bash -n $i; done
  - gulp min-html --cwd .
