<div style="display:table-cell; vertical-align:top">
  <div style="margin:2px;">
    <strong>2016</strong><br/>
    <a href="/events/2016-vancouver/">Vancouver - Apr 15 & 16</a><br/>
    <a href="/events/2016-london/">London - Apr 19 & 20</a><br/>
    <a href="/events/2016-denver/">Denver - Apr 21 & 22</a><br/>
    <a href="/events/2016-atlanta/">Atlanta - Apr</a><br/>
    <a href="/events/2016-kiel/">Kiel - May 12 & 13</a><br/>
    <a href="/events/2016-seattle/">Seattle - May 12 & 13</a><br/>
    <a href="/events/2016-toronto/">Toronto - May 26 & 27</a><br/>
    <a href="/events/2016-washington-dc/">Washington, DC - Jun 8 & 9</a><br/>
    <a href="/events/2016-minneapolis/">Minneapolis - Jul 20 & 21</a><br/>
    <a href="/events/2016-edinburgh/">Edinburgh - Jul</a><br/>
    <a href="/events/2016-saltlakecity/">Salt Lake City</a><br/>
    <a href="/events/2016-philadelphia/">Philadelphia</a><br/>
    <a href="/events/2016-portland/">Portland</a><br/>
    <a href="/events/2016-istanbul/">Istanbul</a><br/>
  </div>
</div>
