<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
{{ partial "head.html" . }}

<body lang="{{ .Site.Params.Lang }}">
  <nav class="navbar navbar-fixed-top navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!-- <a class="navbar-brand" href="#">Arrested DevOps</a> -->
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="#">Events</a></li>
        <li><a href="#">Presentations</a></li>
        <li><a href="/blog">Blog</a></li>
        <li><a href="/organizing">Organizing Guide</a></li>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a class = "social-links" href="https://facebook.com/{{ .Site.Params.social.facebook }}"><i class="fa fa-facebook-square fa-2x"></i></a>
        </li>
        <li>
          <a class = "social-links" href="https://twitter.com/{{ .Site.Params.social.twitter }}"><i class="fa fa-twitter-square fa-2x"></i></a>
        </li>
        <li>
          <a class = "social-links"  href="https://youtube.com/{{ .Site.Params.social.youtube }}"><i class="fa fa-youtube fa-2x"></i></a>
        </li>
        <li>
          <a class = "social-links" href="https://plus.google.com/+{{ .Site.Params.social.googleplus }}"><i class="fa fa-google-plus-square fa-2x"></i></a>
        </li>
        <li>
          <a class = "social-links" href="https://github.com/{{ .Site.Params.social.github }}"><i class="fa fa-github fa-2x"></i></a>
        </li>
      </ul>
    </div><!-- /.nav-collapse -->
  </div><!-- /.container -->
</nav><!-- /.navbar -->
<!-- end of new nav -->

<div class="container">

      <div class="row row-offcanvas row-offcanvas-right">
        <div class = "col-md-12"><img src = "/img/devopsdays-banner.png" class = "img-responsive"></div>
