{{- $slug := (index (split ($.Page.Permalink | relURL) "/") 2) -}}
{{- if not $slug -}}
  {{- $pathParts := split $.Page.File.Dir "/" -}}
  {{- $slug = index $pathParts 1 -}}
{{- end -}}
{{- $e := dict -}}
{{- if $slug -}}
  {{- $year := (index (split $slug "-" ) 0) -}}
  {{- $city := substr $slug 5 -}}
  {{- $e = index site.Data.events $year $city "main" -}}
  {{- if $e -}}
    {{- $p := index site.Data.events $year $city "program" -}}
    {{- $s := index site.Data.events $year $city "sponsors" -}}
    {{- $o := index site.Data.events $year $city "organizers" -}}
    {{- if fileExists (printf "/data/events/%s/%s/program.yml" $year $city) -}} 
      {{- $e = merge $p $e -}}
    {{- end -}}
    {{- if fileExists (printf "/data/events/%s/%s/sponsors.yml" $year $city) -}} 
      {{- $e = merge $s $e -}}
    {{- end -}}
    {{- if fileExists (printf "/data/events/%s/%s/organizers.yml" $year $city) -}} 
      {{- $e = merge $o $e -}}
    {{- end -}}
  {{- end -}}
{{- end -}}
{{- return $e -}}
