{{- /*
  Determines the "current" event for a given city/event_group.
  
  Input: Page context (.) - the function will get the current event data from the page.
  Returns: The event object for the current/most recent event, or empty dict if none found.
  
  Logic:
    - First preference: Latest future event (enddate > now) by startdate
    - Second preference: Latest event by year (from name) for events without dates
    - Third preference: Latest past event by startdate
*/ -}}

{{- $currentEvent := dict -}}
{{- $e := partial "functions/get-event-data" . -}}

{{- if and $e $e.city -}}
  {{- $matchTitle := $e.city -}}
  {{- if $e.event_group -}}
    {{- $matchTitle = $e.event_group -}}
  {{- end -}}
  
  {{- $allEvents := partial "functions/get-all-events" . -}}
  {{- $tbdEvents := partial "functions/get-tbd-events" . -}}
  
  {{- $allEventsIncludingTBD := $allEvents -}}
  {{- range $tbdEvents -}}
    {{- $allEventsIncludingTBD = $allEventsIncludingTBD | append . -}}
  {{- end -}}
  
  {{- $futureEvents := slice -}}
  {{- $eventsWithoutDates := slice -}}
  {{- $pastEvents := slice -}}
  
  {{- range $allEventsIncludingTBD -}}
    {{- if and $e.name (ne .name $e.name) -}}
      {{- $eventMatchTitle := .city -}}
      {{- if .event_group -}}
        {{- $eventMatchTitle = .event_group -}}
      {{- end -}}
      
      {{- if or (eq (lower .city) (lower $matchTitle)) (eq (lower $eventMatchTitle) (lower $matchTitle)) -}}
        {{- if and .startdate .enddate -}}
          {{- if gt (time.AsTime .enddate) now -}}
            {{- $futureEvents = $futureEvents | append . -}}
          {{- else -}}
            {{- $pastEvents = $pastEvents | append . -}}
          {{- end -}}
        {{- else -}}
          {{- $eventsWithoutDates = $eventsWithoutDates | append . -}}
        {{- end -}}
      {{- end -}}
    {{- end -}}
  {{- end -}}
  
  {{- $candidateEvent := dict -}}
  {{- $viewingYear := 0 -}}
  {{- if $e.year -}}
    {{- $viewingYear = int $e.year -}}
  {{- else if $e.name -}}
    {{- $yearStr := index (split $e.name "-") 0 -}}
    {{- $viewingYear = int $yearStr -}}
  {{- end -}}
  
  {{- $latestYear := 0 -}}
  {{- range $futureEvents -}}
    {{- $eventYear := 0 -}}
    {{- if .year -}}
      {{- $eventYear = int .year -}}
    {{- end -}}
    {{- if and $eventYear (gt $eventYear $latestYear) -}}
      {{- $latestYear = $eventYear -}}
    {{- end -}}
  {{- end -}}
  
  {{- range $eventsWithoutDates -}}
    {{- $eventYear := 0 -}}
    {{- if .name -}}
      {{- $yearStr := index (split .name "-") 0 -}}
      {{- $eventYear = int $yearStr -}}
    {{- end -}}
    {{- if and $eventYear (gt $eventYear $latestYear) -}}
      {{- $latestYear = $eventYear -}}
    {{- end -}}
  {{- end -}}
  
  {{- if and (gt $latestYear 0) (gt $latestYear $viewingYear) -}}
    {{- $futureFromLatestYear := dict -}}
    {{- $tbdFromLatestYear := dict -}}
    
    {{- range $futureEvents -}}
      {{- $eventYear := 0 -}}
      {{- if .year -}}
        {{- $eventYear = int .year -}}
      {{- end -}}
      {{- if eq $eventYear $latestYear -}}
        {{- if or (not $futureFromLatestYear) (gt .startdate $futureFromLatestYear.startdate) -}}
          {{- $futureFromLatestYear = . -}}
        {{- end -}}
      {{- end -}}
    {{- end -}}
    
    {{- range $eventsWithoutDates -}}
      {{- $eventYear := 0 -}}
      {{- if .name -}}
        {{- $yearStr := index (split .name "-") 0 -}}
        {{- $eventYear = int $yearStr -}}
      {{- end -}}
      {{- if eq $eventYear $latestYear -}}
        {{- $tbdFromLatestYear = . -}}
      {{- end -}}
    {{- end -}}
    
    {{- if $futureFromLatestYear -}}
      {{- $candidateEvent = $futureFromLatestYear -}}
    {{- else if $tbdFromLatestYear -}}
      {{- $candidateEvent = $tbdFromLatestYear -}}
    {{- end -}}
  {{- else if eq $latestYear 0 -}}
    {{- if gt (len $pastEvents) 0 -}}
      {{- $latestPastYear := 0 -}}
      {{- $latestPastEvent := dict -}}
      {{- range $pastEvents -}}
        {{- $eventYear := 0 -}}
        {{- if .year -}}
          {{- $eventYear = int .year -}}
        {{- end -}}
        {{- if and $eventYear (gt $eventYear $latestPastYear) -}}
          {{- $latestPastYear = $eventYear -}}
          {{- $latestPastEvent = . -}}
        {{- end -}}
      {{- end -}}
      {{- if and $latestPastEvent (gt $latestPastYear $viewingYear) -}}
        {{- $candidateEvent = $latestPastEvent -}}
      {{- end -}}
    {{- end -}}
  {{- end -}}
  
  {{- $currentEvent = $candidateEvent -}}
{{- end -}}

{{- return $currentEvent -}}
