<!-- this function takes in the permalink of an event and returns the index for the event's data file -->
{{ $slug := "" }}
{{ if eq "events" (index (split ($.Page.Permalink | relURL) "/") 1)}}
  {{ $slug = (index (split ($.Page.Permalink | relURL) "/") 2) }}
{{ else }}
  {{ $slug = (index (split ($.Page.Permalink | relURL) "/") 3) }}
  {{ warnf "The slug is %s" $slug }}
  {{ warnf "The permalink is %s" $.Page.Permalink }}
{{ end }}


{{ $year := (index (split $slug "-" ) 0) }}
{{ $city := substr $slug 5 }}
{{ $e := index $.Site.Data.events $year $city "main" }}
{{ $p := index $.Site.Data.events $year $city "program" }}
{{ $s := index $.Site.Data.events $year $city "sponsors" }}
{{ $o := index $.Site.Data.events $year $city "organizers" }}
{{ if fileExists (printf "/data/events/%s/%s/program.yml" $year $city) }} 
  {{ $e = merge $p $e }}
{{ end }}
{{ if fileExists (printf "/data/events/%s/%s/sponsors.yml" $year $city) }} 
  {{ $e = merge $s $e }}
{{ end }}
{{ if fileExists (printf "/data/events/%s/%s/organizers.yml" $year $city) }} 
  {{ $e = merge $o $e }}
{{ end }}
{{ return $e }}