{{ define "main" }}
    {{- $.Scratch.Add "i" 1 -}}
    <div class = "row">
        {{ range sort (where (where (where (where (where .Site.Pages "Type" "new-event") ".File.BaseFileName" "==" "_index") ".Params.startdate" "!=" nil) ".Params.enddate" "ge" now) ".Params.cancel" "ne" "true") ".Params.startdate" }} 
            {{- $event_city := (index (split (.Permalink | relURL) "/") 3) -}}
            {{- $event_year := (index (split (.Permalink | relURL) "/") 2) -}}
            <div class = "col-md-3 homepage-grid-col">
                {{- $.Scratch.Set "contentdir" (printf "static/events/%s/%s" $event_year $event_city) -}}
                {{- if (where (readDir "static/events") "Name" $event_year) -}}
                    {{- if (where (readDir (printf "static/events/%s" $event_year)) "Name" $event_city) -}}
                    {{- if (where (readDir ($.Scratch.Get "contentdir")) "Name" "logo-square.jpg") -}}
                        <a href="{{ (printf "/new-events/%s/%s" $event_year $event_city) }}">
                            <img src="{{ (printf "/events/%s/%s/logo-square.jpg" $event_year $event_city) }}" class="img-fluid" alt="devopsdays {{ $event_city }}"/>
                        </a>
                    {{- else -}}
                        <a href="{{ (printf "/new-events/%s/%s" $event_year $event_city) }}">
                            <img src="/img/event-logo-square.jpg" class="img-fluid" alt="devopsdays {{ $event_city }}"/>
                        </a>
                    {{- end -}}
                    {{- end -}}
                {{- end -}}
                {{- if or (ne (time .Params.startdate).Month (time .Params.enddate).Month) (ne (time .Params.startdate).Day (time .Params.enddate).Day) -}}
                    <span class = "homepage-grid-date">
                        {{ dateFormat "Jan 2" .Params.startdate }} - {{ dateFormat "2, 2006" .Params.enddate }}<br />
                    </span>
                {{- else -}}
                    <span class = "homepage-grid-date">
                        {{ dateFormat "Jan 2, 2006" .Params.startdate }}<br />
                    </span>
                {{- end -}}
                <span class = "homepage-grid-city">
                    <a href="{{ (printf "/new-events/%s/%s" $event_year $event_city) }}">
                        {{ .Params.city }}
                    </a>
                </span>
            </div>
            {{- if modBool ($.Scratch.Get "i") 4 -}}
                </div>
                <div class = "row">
            {{- end -}}
            {{- $.Scratch.Add "i" 1 -}}
    
        {{ end }}

    </div>

{{- end -}}
