{{ define "main" }}


    {{- $.Scratch.Add "i" 1 -}}

    <div class="row">
        {{- range sort $.Site.Data.events "startdate" -}}
        {{- if .startdate -}}
<!-- Subtracting a day is a patch for https://github.com/devopsdays/devopsdays-theme/issues/656 -->
        {{- if ge (time .enddate) now -}}
        {{- $.Scratch.Set "city" .city -}}
        {{- $.Scratch.Set "year" .year -}}
        {{- $.Scratch.Set "logo" "unset" -}}
        <div class="col-md-3 homepage-grid-col">
            {{- $.Scratch.Set "subdir" .name -}}
            {{- $.Scratch.Set "contentdir" (printf "static/events/%s/" ($.Scratch.Get "subdir")) -}}
            {{- if (where (readDir "static/events") "Name" ($.Scratch.Get "subdir")) -}}
                {{- if (where (readDir ($.Scratch.Get "contentdir")) "Name" "logo-square.jpg") -}}
                    <a href="{{ (printf "/events/%s" .name) }}"><img src="{{ (printf "/events/%s/logo-square.jpg" .name)  }}" class="img-fluid" alt="devopsdays {{ .city }}"/></a>
                    {{- $.Scratch.Set "logo" "set" -}}
                {{- end -}}
            {{- end -}}
            {{- if ne ($.Scratch.Get "logo") "set" -}}
                <a href="{{ (printf "/events/%s" .name) }}"><img src="{{"/img/event-logo-square.jpg"  }}" class="img-fluid" alt="devopsdays {{ .city }}"/></a>
                {{- end -}}
                <br/>
      {{- if or (ne (time .startdate).Month (time .enddate).Month) (ne (time .startdate).Day (time .enddate).Day) -}}
            <span class="homepage-grid-date">
            {{ dateFormat "Jan 2" .startdate }} - {{ dateFormat "2, 2006" .enddate }}<br />
            </span>
      {{- else -}}
            <span class="homepage-grid-date">
          {{ dateFormat "Jan 2, 2006" .startdate }}<br />
            </span>
      {{- end -}}
        <span class="homepage-grid-city">
            <a href="{{ (printf "/events/%s" .name) }}">{{ .city }}</a>
        </span>
            </div>
            {{- if modBool ($.Scratch.Get "i") 4 -}}
        </div>
        <div class="row">
            {{- end -}}
            {{ $.Scratch.Add "i" 1 }}
            {{- end -}}
            {{- end -}}
            {{- end -}}
        </div>
        <!-- <div id="share"></div> -->

        <div class="row">
            <div class="col-md-12">
                <div class="embed-responsive embed-responsive-16by9">
                    <div id="map_canvas" class="embed-responsive-item"></div>
                </div>
            </div>
        </div>
{{- end -}}
