<meta property="og:title" content="{{ title .Title }}" />
<meta name="twitter:title" content="{{ .Title }}"/>
<meta itemprop="name" content="{{ .Title }}">

{{- if .IsHome -}}
    <meta property="og:description" content="devopsdays is a worldwide community conference series for anyone interested in IT improvement." />
    <meta name="twitter:description" content="devopsdays is a worldwide community conference series for anyone interested in IT improvement." />
    <meta itemprop="description" content="devopsdays is a worldwide community conference series for anyone interested in IT improvement." />
{{- else -}}
  <meta property="og:description" content="{{ if .Description }}{{ .Description }}{{ else }}{{if .IsPage}}{{ .Summary }}{{ end }}{{ end }}" />
  <meta name="twitter:description" content="{{ if .Description }}{{ .Description }}{{ else }}{{if .IsPage}}{{ .Summary }}{{ end }}{{ end }}" />
  <meta itemprop="description" content="{{ if .Description }}{{ .Description }}{{ else }}{{if .IsPage}}{{ .Summary }}{{ end }}{{ end }}">
{{- end -}}
<meta name="twitter:site" content="@devopsdays">
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ .Permalink | absURL }}" />
{{- if or (eq .Type "welcome") (eq .Type "event") (eq .Type "speaker") (eq .Type "speakers") (eq .Type "talk") (eq .Type "program") -}}
  {{- $e := partial "functions/get-event-data" . -}}
  {{- $.Scratch.Set "contentdir" (printf "static/events/%s/" $e.name) -}} <!-- may not need this anymore? -->
  {{- if $e.event_twitter -}}
    <meta name="twitter:creator" content="@{{$e.event_twitter}}" />
  {{- end -}}
  {{- $.Scratch.Set "event" (printf "devopsdays %s %s" $e.city (chomp $e.year)) -}}
  <meta name="twitter:label1" value="Event" />
  <meta name="twitter:data1" value='{{ $.Scratch.Get "event" }}' />
  {{- if $e.startdate -}}
    {{- if or (ne (time $e.startdate).Month (time $e.enddate).Month) (ne (time $e.startdate).Day (time $e.enddate).Day) -}}
        <meta name="twitter:label2" value="Dates" />
        {{- if eq (time $e.startdate).Month (time $e.enddate).Month -}}
            <meta name="twitter:data2" value='{{ dateFormat "January 2" $e.startdate }} - {{ dateFormat "2, 2006" $e.enddate }}' />
        {{- else -}}
            <meta name="twitter:data2" value='{{ dateFormat "Jan 2" $e.startdate }} - {{ dateFormat "Jan 2" $e.enddate }}' />
        {{- end -}}
    {{- else -}}
    <meta name="twitter:label2" value="Date" />
    <meta name="twitter:data2" value='{{ dateFormat "January 2, 2006" $e.startdate }}' />
    {{- end -}}
  {{- end -}}
  {{- if .Params.sharing_image -}}
    {{- with .Params.sharing_image -}}
      {{- $.Scratch.Set "sharing_url" (printf "/events/%s/sharing/%s" $e.name .) -}}
      {{- $.Scratch.Set "sharing_alt" $.Title -}}
    {{- end -}}
  {{- else if $e.sharing_image -}}
    {{- with $e.sharing_image -}}
      {{- $.Scratch.Set "sharing_url" (printf "/events/%s/sharing/%s" $e.name .) -}}
      {{- $.Scratch.Set "sharing_alt" (printf "devopsdays %s %s" $e.city (chomp $e.year)) -}}
    {{- end -}}
  {{- else -}}
      {{- $.Scratch.Set "sharing_url" ("https://www.devopsdays.org/img/sharing.jpg" ) -}}
      {{- $.Scratch.Set "sharing_alt" "devopsdays" -}}
  {{- end -}}
{{- else -}}
  {{- $.Scratch.Set "sharing_url" ("https://www.devopsdays.org/img/sharing.jpg" ) -}}
  {{- $.Scratch.Set "sharing_alt" "devopsdays" -}}
{{- end -}}
<meta property="og:image" content='{{ $.Scratch.Get "sharing_url" | absURL }}' />
<meta property="og:image:alt" content='{{ $.Scratch.Get "sharing_alt" }}' />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:image" content='{{ $.Scratch.Get "sharing_url" | absURL }}' />
<meta itemprop="image" content='{{ $.Scratch.Get "sharing_url"  | absURL }}' />
<meta property="fb:app_id" content="1904065206497317" />
{{- with .Params.locale -}}<meta property="og:locale" content="{{ . }}" />{{- end -}}
{{- with .Site.Params.title -}}<meta property="og:site_name" content="{{ . }}" />{{- end -}}

<meta itemprop="wordCount" content="{{ .WordCount }}">
