{{- $e := partial "functions/get-event-data" . -}}
{{- if and $e.cfp_date_start $e.cfp_date_end $e.cfp_date_announce -}}
  <center>
  <b>Call for proposals opens {{ time.Format "Monday, Jan 2, 2006" $e.cfp_date_start }}.</b><br>
  <b>Call for proposals closes {{ time.Format "Monday, Jan 2, 2006" $e.cfp_date_end }}.</b><br>
  Selected proposals will be announced on {{ time.Format "Monday, Jan 2, 2006" $e.cfp_date_announce }}.
  </center>
{{- else -}}
  <center>
  <b>Call for proposals is TBD</b>
  </center>
{{- end -}}
