{{- $e := (index $.Site.Data.events (index (split ($.Page.Permalink | relURL) "/") 2)) -}}
{{- if $e -}}
  {{- if and ($e.cfp_date_start) ($e.cfp_date_end) ($e.cfp_date_announce) -}}
    {{- $cfp_date_start := $e.cfp_date_start -}}
    {{- $cfp_date_end := $e.cfp_date_end -}}
    {{- $cfp_date_announce := $e.cfp_date_announce -}}
    <center>
    <b>Call for proposals opens {{ dateFormat "Monday, Jan 2, 2006" $cfp_date_start }}.</b><br>
    <b>Call for proposals closes {{ dateFormat "Monday, Jan 2, 2006" $cfp_date_end }}.</b><br>
    Selected proposals will be announced on {{ dateFormat "Monday, Jan 2, 2006" $cfp_date_announce }}.
    </center>
  {{- else -}}
    <center>
    <b>Call for proposals is TBD</b>
    </center>
  {{- end -}}
{{- else -}}
  {{- $event_year := (index (split ($.Page.Permalink | relURL) "/") 2) -}}
  {{- $event_city := (index (split ($.Page.Permalink | relURL) "/") 3) -}}
  {{- $event_data := .Site.GetPage (printf "/new-events/%s/%s" $event_year $event_city) -}}
  {{- if and ($event_data.Params.cfp_date_start) ($event_data.Params.cfp_date_end) ($event_data.Params.cfp_date_announce) -}}
    <center>
      <b>Call for proposals opens {{ dateFormat "Monday, Jan 2, 2006" $event_data.Params.cfp_date_start }}.</b><br>
      <b>Call for proposals closes {{ dateFormat "Monday, Jan 2, 2006" $event_data.Params.cfp_date_end }}.</b><br>
      Selected proposals will be announced on {{ dateFormat "Monday, Jan 2, 2006" $event_data.Params.cfp_date_announce }}.
    </center>
  {{- else -}}
    <center>
      <b>Call for proposals is TBD</b>
    </center>
  {{- end -}}

{{- end -}}
