{{- $e := partial "functions/get-event-data" . -}}

{{- if $e.event_social_slack -}}
  <a href="{{ $e.event_social_slack }}" class="fa-brands fa-slack social-slack" target="_blank" title="Join us on Slack"></a>
{{- else -}}
  <a href="{{ index .Params 0 }}" class="fa-brands fa-slack social-slack" target="_blank" title="Join us on Slack"></a>
{{- end -}}
<style>
  .social-slack {
    color: black;
    height: 50px;
    padding: 12px;
    font-size: 30px;
    text-decoration: none;
    display: inline-block;
  }
  .social-slack:hover {
    color: rgb(223, 180, 42);
    text-decoration: none;
  }
</style>