{{- $e := partial "functions/get-event-data" . -}}

{{- if $e.event_social_bsky -}}
  <a href="{{ $e.event_social_bsky }}" class="fa-brands social-bsky fa-bluesky" target="_blank" title="Join us on Bluesky"></a>
{{- else -}}
  <a href="{{ index .Params 0 }}" class="fa-brands social-bsky fa-bluesky" target="_blank" title="Join us on BlueSky"></a>
{{- end -}}
<style>
  .social-bsky {
    color: black;
    height: 50px;
    padding: 12px;
    font-size: 30px;
    text-decoration: none;
    display: inline-block;
  }
  .social-bksy:hover {
    color: rgb(17, 134, 243);
    text-decoration: none;
  }
</style>