  {{- $event_year := (index (split ($.Page.Permalink | relURL) "/") 2) -}}
  {{- $event_city := (index (split ($.Page.Permalink | relURL) "/") 3) -}}
  {{- $event_homepage := (printf "/new-events/%s/%s" $event_year $event_city) -}}
  {{- $event_data := .Site.GetPage $event_homepage -}}
  {{- if $event_data.Params.event_twitter -}}
    <a href="https://twitter.com/{{ $event_data.Params.event_twitter }}" class="twitter-follow-button" data-show-count="false">Follow @{{ $event_data.Params.event_twitter }}</a>
  {{- else -}}
    <a href="https://twitter.com/{{ index .Params 0 }}" class="twitter-follow-button" data-show-count="false">Follow @{{ index .Params 0 }}</a>
  {{- end -}}
  


<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  
