{{- $e := partial "functions/get-event-data" . -}}
{{- $assetsdir := printf "assets/events/%s/" $e.name -}}
{{- $contentdir := printf "static/events/%s/" $e.name -}}
{{- if where (os.ReadDir "assets/events") "Name" $e.name -}}
  {{- if where (os.ReadDir $assetsdir) "Name" "logo.png" -}}
    {{- $imagelocation := printf "events/%s/logo.png" $e.name -}}
    {{- $imageresource := resources.Get $imagelocation -}}
    {{- $imagefile := $imageresource.Resize "600x webp Lanczos q100" -}}
    <img alt="devopsdays {{ $e.city }} {{ $e.year }}" src='{{ $imagefile.RelPermalink }}' class="welcome-page-event-logo"/>
  {{- end -}}
{{- else if where (os.ReadDir "static/events") "Name" $e.name -}}
  {{- $logo := "logo.png" -}}
  {{- if where (os.ReadDir $contentdir) "Name" "logo.jpg" -}}
    {{- $logo = "logo.jpg" -}}
  {{- end -}}
  <img alt="devopsdays {{ $e.city }} {{ $e.year }}" src='{{ printf "/events/%s/%s" $e.name $logo }}' class="welcome-page-event-logo"/>
{{- end -}}
