{{- $e := (index $.Site.Data.events (index (split ($.Page.Permalink | relURL) "/") 2)) -}}
{{- $.Scratch.Set "contentdir" (printf "static/events/%s/" $e.name) -}}
{{- if (where (readDir "static/events") "Name" $e.name) -}}
  {{- if (where (readDir ($.Scratch.Get "contentdir")) "Name" "logo.jpg") -}}
    {{- $.Scratch.Set "logo" "logo.jpg" -}}
  {{- else -}}
    {{- $.Scratch.Set "logo" "logo.png" -}}
  {{- end -}}
  <img alt="devopsdays {{ $e.city }} {{ $e.year }}" src="{{ (printf "events/%s/%s" $e.name ($.Scratch.Get "logo")) | absURL }}" class="welcome-page-event-logo"/>
{{- end -}}
