<em>Active</em><br>
{{- $len := (len $.Site.Data.core.active) -}}
{{- range $index, $organizer := $.Site.Data.core.active -}}
  {{- if ne (add $index 1) $len -}}
    {{ $organizer }},&nbsp;
  {{- else -}}
    {{ $organizer }}
  {{- end -}}
{{- end -}}
<br>
<br>
<em>Historic</em><br>
{{- $len := (len $.Site.Data.core.historic) -}}
{{- range $index, $organizer := $.Site.Data.core.historic -}}
  {{- if ne (add $index 1) $len -}}
    {{ $organizer }},&nbsp;
  {{- else -}}
    {{ $organizer }}
  {{- end -}}
{{- end -}}
<br>
<br>
