<!-- this div is repeated for each timeslot -->
{{- $e := (index $.Site.Data.events (index (split ($.Page.Permalink | relURL) "/") 2)) -}}

<div class = "row">
  <div class = "col-md-4">
    <time>{{ .Get "time" }}</time>
  </div>
  <div class = "col-md-6 box">
    {{ .Get "title" }}
    {{- with .Get "presenter" -}}
      {{- $fname := . -}}
      {{- $s := index $.Site.Data.speakers (print (chomp $e.year)) (substr $e.name 5) . -}}
      -- <a href="{{ (printf "events/%s/program/%s" $e.name $fname) | absURL }}">{{ $s.name }}</a>
    {{- end -}}
  </div>
</div> <!-- end timeslot div -->
