{{- $e := (index $.Site.Data.events (index (split ($.Page.Permalink | relURL) "/") 2)) -}}
{{- if $e -}}
  {{- if $e.registration_date_end -}}
    {{ dateFormat "Monday, Jan 2, 2006" $e.registration_date_end }}
  {{- else -}}
    TBD
  {{- end -}}
{{- else -}}
  {{- $event_year := (index (split ($.Page.Permalink | relURL) "/") 2) -}}
  {{- $event_city := (index (split ($.Page.Permalink | relURL) "/") 3) -}}
  {{- $event_homepage := (printf "/new-events/%s/%s" $event_year $event_city) -}}
  {{- $event_data := .Site.GetPage $event_homepage -}}
  {{- with $event_data.Params.registration_date_end -}}
    {{ dateFormat "Monday, Jan 2, 2006" . }}
  {{- else -}}
    TBD
  {{- end -}}
{{- end -}}