{{ partial "header.html" . }}

{{ $event := .Params.event}}
{{ $e :=  (index $.Site.Data.events $event) }}
<div class = "container-fluid">
  <div class="row">
		<div class="col-md-8">
      <h1> {{ $e.city }} - {{ title .Title }} </h1>
      <!-- Main navigation -->
      <ul class="nav nav-tabs">
        {{ range $navigation := $e.navigationelements}}
          <li role="presentation"><a href="/events/{{ $e.name }}/{{ $navigation}}">{{ $navigation }}</a></li>
        {{ end }}
      </ul>

      {{ .Content }}
    </div>
    <div class="col-md-4">
    <!-- sponsor code begin -->
    {{ $sponsors := $e.sponsors }}
    {{ range $e.sponsor_levels }}
    <h2>{{ .label }} Sponsors</h2>
      {{ range where $sponsors "level" .id }}
        {{ $s :=  (index $.Site.Data.sponsors .id) }}
        {{ if isset $.Site.Data.sponsors .id }}
          <a href = "{{ $s.url }}"><img alt = "{{ .id }}" src = "/img/sponsors/{{ .id }}.png" class="img-responsive"></a>
        {{ end }}
      {{ end }}
      <a href = "/events/{{ $e.friendly }}/sponsor">Become a {{ .label }} Sponsor!</a>
    {{ end }}

    <!-- sponsor code end -->
    </div>
  </div>

</div>
{{ partial "footer.html" . }}
