<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
  {{ partial "html_head.html" . }}
</head>

<body>
<div class="container">
  {{ partial "header.html" . }}

  <div class="span-24">
    {{ partial "header_menu.html" . }}
  </div>

  <div class="span-15">
    <h1>{{ .Title }}</h1>
  </div>
  <div class="span-8 last">
    {{ partial "buttons.html" . }}
  </div>

  <div class="span-15">
     {{ .Content }}
  </div>
  <div class="span-8 last">
      {{ partial "twitterfeed.html" . }}
  </div>

  <div style="padding-top:18px;" class="span-18">
    <h1>Past</h1>
  </div>
  <div style="padding-top:18px;" class="span-5 last">
    <h1>Future</h1>
  </div>

  <div class="span-18">
    {{ partial "past.html" . }}
  </div>
  <div class="span-5 last">
    {{ partial "future.html" . }}
  </div>
</div>

{{ partial "googleanalytics.html" . }}

</body>
</html>
