{{ partial "event_header.html" . }}

{{ $path := split $.Source.File.Path "/" }}
{{ $event_slug := index $path 1 }}
{{ $e :=  (index $.Site.Data.events $event_slug) }}
{{ $city_slug := substr $e.name 5 }}


<!-- end event header partial -->
<div>
      {{ .Content }}
</div>


 <!-- speaker page code begin -->


  {{ range $fname, $s := index .Site.Data.speakers (print (chomp $e.year)) $city_slug }}
<div class="row">
    <div class="col-md-3">
        <img alt = "{{ $s.name }}" src = "/events/{{ $event_slug }}/speakers/{{$fname}}.jpg" class="img-responsive" width = "250px">
    </div>
    <div class= "col-md-8">
       <h3><a href="/events/{{ $event_slug }}/program/{{$fname}}">{{ $s.name }}</a></h3>
       {{ if $s.twitter }} <a href="https://twitter.com/{{ $s.twitter }}">@{{ $s.twitter }}</a><br>{{ end }}
       {{ if $s.website }} <a href="{{ $s.website }}">Website: {{ $s.website }}</a><br>{{ end }}
       {{ if $s.pronouns }}Pronouns: {{ $s.pronouns }}{{ end }}
     <br>
     {{ $s.bio | markdownify }}
<hr>
    </div>
</div>

  {{ end }}


<!-- speaker code end -->

</div> <!-- closes the col-md-8 div from event_header -->
{{ partial "sponsors.html" . }}
</div> <!-- closes the row div -->

{{ partial "footer.html" . }}
