/* background */
pre {
  background: #eee;
  border:     1px solid #ddd;
}

/* make the pre overflow if within column */
pre {
	overflow:auto
}

/* resetting the fancytype */
p + p {
	margin-top: -0.5em;
	text-indent: 0;
}

/* pullquotes */
span.pulledquote {
	display: block;
	float: right;
	padding: 0 0 0 10px;
	margin: 0 0 10px 10px;
	width: 170px;
	font-size: 1.5em;
	line-height: 1.4em;
	text-align: right;
	color: #666;
	border-left: 3px solid #ccc;
}

/* awesomepersands */
span.amp {
    font-family: Baskerville, Palatino, Constantia, "Book Antiqua", "URW Palladio L", serif;
    font-style: italic;
}

h1 {
	color: #1581AB;
	font-weight: bold;
}

div#quicklinks {
	background: #1581AB ;
	color: white;
}

div#quicklinks a {
	color: white;
	font-weight: bold;
}

div#quicklinks li {
	list-style-type:none
}

div#headermenu {
	font-color: #1581AB;
	width: 300px;
}

div#headermenu td {
	text-align: center;
}

div#headermenu * a {
	text-decoration: none;
	font-weight: bold;
	color: #1581AB;
}

.submenu h3 {
	font-weight: bold;
	background-color: #D7D7D7;
	padding: 10px;
}

.submenu h3 a { 
	color: #333333;	
	text-decoration: none;
}

