{{ partial "event_header.html" . }}

{{ $path := split $.Source.File.Path "/" }}
{{ $event_slug := index $path 1 }}
{{ $e :=  (index $.Site.Data.events $event_slug) }}
<!-- end event header partial -->

<div>
  {{ .Content }}
</div>


 <!-- speaker code begin -->
 {{/*
   For future reference, this range listed below is going to be a key element for when we refactor the data directory
   Notice how you pass the variables, etc. So the new code would probably be something like this:
   .Site.Data.events $e.year "speakers" (printf "%s" (lower $e.city))
   and to get at the meta.yml for the city it will be
   .Site.Data.events $e.year (printf "%s" (lower $e.city))
   - mattstratton
 */}}
 {{ range $fname, $s := index .Site.Data.speakers (print (chomp $e.year)) (replace $e.city " " "" | lower) }}
   {{ if eq $fname ($.LinkTitle | urlize) }}
<hr>
<div class="row">
    <div class="col-md-3">
        <img alt = "{{ $s.name }}" src = "/events/{{ $event_slug }}/speakers/{{$fname}}.jpg" class="img-responsive" width = "250px">
    </div>
    <div class= "col-md-8">
       <h3>{{ $s.name }}</h3>
       {{ if $s.twitter }} <a href="https://twitter.com/{{ $s.twitter }}">@{{ $s.twitter }}</a><br>{{ end }}
     <br>
     {{ $s.bio | markdownify }}
    </div>
</div>
   {{ end }}
 {{ end }}


<!-- speaker code end -->

</div> <!-- closes the col-md-8 div from event_header -->
{{ partial "sponsors.html" . }}
</div> <!-- closes the row div -->

{{ partial "footer.html" . }}
