{{- $e := partial "functions/get-event-data" . -}}

<div class="row">

  {{- if $e.startdate -}}
    {{- if $e.cfp_date_start -}}
      {{- if and (ge now (time.AsTime $e.cfp_date_start)) (le now (time.AsTime $e.cfp_date_end)) -}}
        <div class="col-auto offset-1 offset-md-0 welcome-page-cta">
          <a href='{{ partial "functions/get-cfp-url" $e }}' class="btn jssocials-share-link event-cta-button" role="button" aria-pressed="true">Propose</a>
        </div>
      {{- end -}}
    {{- end -}}
  {{- end -}}

    {{- if $e.registration_open -}}
      {{- if eq $e.registration_open "true" -}}
        {{- $registration_link := printf "/events/%s/registration" $e.name -}}
        {{- with $e.registration_link -}}
          {{- if ne . "" -}}
            {{- $registration_link = . -}}
          {{- end -}}
        {{- end -}}
        <div class="col-auto offset-1 offset-md-0 welcome-page-cta">
          <a href='{{ $registration_link }}' class="btn jssocials-share-link event-cta-button" role="button" aria-pressed="true">Register</a>
        </div>
      {{- end -}}
    {{- else -}}
      {{- if $e.startdate -}}
        {{- if and $e.registration_date_start $e.registration_date_end -}}
          {{- if and (ge now (time.AsTime $e.registration_date_start)) (le now (time.AsTime $e.registration_date_end)) -}}
            {{- $registration_link := printf "/events/%s/registration" $e.name -}}
            {{- with $e.registration_link -}}
              {{- if ne . "" -}}
                {{- $registration_link = . -}}
              {{- end -}}
            {{- end -}}
            {{- if $e.registration_closed -}}
              {{- if ne $e.registration_closed "true" -}}
                <div class="col-auto offset-1 offset-md-0 welcome-page-cta">
                  <a href='{{ $registration_link }}' class="btn jssocials-share-link event-cta-button" role="button" aria-pressed="true">Register</a>
                </div>
              {{- end -}}
            {{- else -}}
              <div class="col-auto offset-1 offset-md-0 welcome-page-cta">
                <a href='{{ $registration_link }}' class="btn jssocials-share-link event-cta-button" role="button" aria-pressed="true">Register</a>
              </div>
            {{- end -}}
          {{- end -}}
        {{- end -}}
      {{- end -}}
    {{- end -}}

  {{- with $e.organizer_email -}}
    <div class="col-auto offset-1 offset-md-0 welcome-page-cta">
      <a href="mailto:{{ . }}?subject=DevOpsDays {{ $e.city }} {{ $e.year }}" class="btn jssocials-share-link event-cta-button" role="button" aria-pressed="true">Contact</a>
    </div>
  {{- end -}}

</div>

{{- if and $e.masthead_background (ne $e.masthead_background "") -}}
  <style>
  a.jssocials-share-link {
    color: #fff;
    border-color: #fff;
    background-color: gray;
    z-index: 2;
  }
  a:hover.jssocials-share-link {
    color: #bfbfc1;
    border-color: #bfbfc1;
  }
  </style>
{{- else -}}
  <style>
  a.jssocials-share-link {
    color: white;
    border-color: white;
  }
  a:hover.jssocials-share-link {
    color: #bfbfc1;
    border-color: #bfbfc1;
  }
  </style>
{{- end -}}

<div class="row">
  <div class="col-md-12 offset-1 offset-md-0 welcome-page-cta">
    <div id="share"></div>
  </div>
</div>
