{{- $e := (index $.Site.Data.events (index (split (.Permalink | relURL) "/") 2)) -}}

{{- $.Scratch.Set "contentdir" (printf "static/events/%s/" $e.name) -}}

{{- if (where (readDir "static/events") "Name" $e.name) -}}

  {{- if (where (readDir ($.Scratch.Get "contentdir")) "Name" "logo.jpg") -}}
    {{- $.Scratch.Set "image_url" ((printf "events/%s/logo.jpg" $e.name) | absURL) -}}
  {{- else -}}
    {{- $.Scratch.Set "image_url" ((printf "events/%s/logo.png" $e.name) | absURL) -}}
  {{- end -}}

{{- else -}}
    {{- $.Scratch.Set "image_url" ("img/event-logo-square.jpg" | absURL) -}}
{{- end -}}



{{- if and $e.startdate $e.location_address -}}

  <script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "ExhibitionEvent",
    {{ if $e.description }}
      "description": "{{ $e.description | htmlEscape | htmlUnescape | safeHTML}}",
    {{ else }}
      "description": "The conference that brings development and operations together.",
    {{ end }}
    "name": "devopsdays {{ $e.city }} {{ $e.year }}",
    "startDate": "{{ $e.startdate }}",
    "endDate": "{{ $e.enddate }}",
    "url": "{{ .Permalink | absURL }}",
    "image": "{{ $.Scratch.Get "image_url" }}",
    "location": {
      "@type": "Place",
      {{ if eq $e.city $e.location }}
        "name": "{{ $e.city }}",
      {{ else }}
        "name": "{{ $e.location }}, {{ $e.city }}",
      {{ end }}
      "address": "{{ $e.location_address }}"

    }
  }
  </script>
{{- end -}}
