{{- $e := (index $.Site.Data.events (index (split (.Permalink | relURL) "/") 2)) -}}
<nav class="navbar event-navigation navbar-toggleable-md navbar-light">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar2">
      <span class="navbar-toggler-icon"></span>
  </button>
  <a href="{{ (printf "events/%s" $e.name) | absURL }}" class="nav-link">{{ $e.city }}</a>
  <div class="navbar-collapse collapse" id="navbar2">
      <ul class="navbar-nav">
          {{- if $e.nav_elements -}}
            {{- range $e.nav_elements -}}
              {{- if .url -}}
                {{- $.Scratch.Set "url" .url -}}
              {{- else }}
                {{- $.Scratch.Set "url" ((printf "/events/%s/%s" $e.name .name ) | absURL) -}}
              {{- end -}}
              {{- if eq .name "propose" -}}
                {{- if $e.cfp_link -}}
                  {{- if ne $e.cfp_link "" -}}
                    {{- $.Scratch.Set "url" $e.cfp_link -}}
                  {{- end -}}
                {{- end -}}
              {{- end -}}
              {{- if eq .name "registration" -}}
                {{- if $e.registration_link -}}
                  {{- if ne $e.registration_link "" -}}
                    {{- $.Scratch.Set "url" $e.registration_link -}}
                  {{- end -}}
                {{- end -}}
              {{- end -}}
                <li class="nav-item active">
                  <a class="nav-link" href="{{$.Scratch.Get "url" }}">{{ .name }}</a>
                </li>
            {{- end -}}
          {{- end -}}
      </ul>
  </div>
</nav>
