{{ define "main" }}

{{- $e := partial "functions/get-event-data" . -}}
<div class="row">
  <div class="col-md-12 offset-md-1">
    <h2 class="speaker-page">{{ .Title }}</h2>
  </div>
</div>
<div class="row">
  <div class="col-md-4 offset-md-1">
    <span class="speaker-page content-text">
    {{ .Content }}
    </span>
    <div class="speaker-bio-talks">
      <h3>{{ .Title }} at {{ $e.city }} {{ $e.year }}</h3>
      <ul class="list-group">
        {{- $speakerFile := .File.BaseFileName -}}
        {{ if eq $e.name nil }}
          {{ errorf "Nil name on %s" .Permalink }}
        {{ end }}
        {{ if and $e.name (fileExists (printf "content/events/%s/program" $e.name)) }}
          {{ range os.ReadDir (printf "content/events/%s/program" $e.name) }}
            {{ $filename := printf "/events/%s/program/%s" $e.name .Name }}
            {{ with site.GetPage $filename }}
              {{- $shouldDisplay := false -}}
              {{- range .Params.speakers -}}
                {{- if eq . $speakerFile -}}
                  {{- $shouldDisplay = true -}}
                {{- end -}}
              {{- end -}}
              {{- if $shouldDisplay -}}
                <a href="{{ .Permalink }}" class="list-group-item list-group-item-action">{{ .Title }}</a>
              {{- end -}}
            {{- end -}}
          {{- end -}}
        {{- end -}}
      </ul>
    </div>
  </div>
  <div class="col-md-3 offset-md-1">
    {{- with .Params.image -}}
      {{- $assetsfolder := "assets/events/" -}}
      {{- if where (os.ReadDir $assetsfolder) "Name" $e.name -}}
        {{- $assetspeakersfolder := printf "assets/events/%s/speakers/" $e.name -}}
        {{- if fileExists $assetspeakersfolder -}}
          {{- if where (os.ReadDir $assetspeakersfolder) "Name" . -}}
            {{- $imagelocation := printf "events/%s/speakers/%s" $e.name . -}}
            {{- $imageresource := resources.Get $imagelocation -}}
            {{- $imagefile := $imageresource.Fit "600x600 webp Lanczos q100" -}}
            <img src='{{ $imagefile.RelPermalink }}' class="img-fluid" alt="{{ $.Title }}"/><br />
          {{- else -}}
            <img src='{{ printf "/events/%s/speakers/%s" $e.name . }}' class="img-fluid" alt="{{ $.Title }}"/><br />
          {{- end -}}
        {{- else -}}
          <img src='{{ printf "/events/%s/speakers/%s" $e.name . }}' class="img-fluid" alt="{{ $.Title }}"/><br />
        {{- end -}}
      {{- else if ne . "" -}}
        <img src='{{ printf "/events/%s/speakers/%s" $e.name . }}' class="img-fluid" alt="{{ $.Title }}"/><br />
      {{- end -}}
    {{- else -}}
      <img src="/img/speaker-default.jpg" class="img-fluid" alt="{{ .Title }}"/><br />
    {{- end -}}
    {{- with .Params.twitter -}}
      <a href="https://twitter.com/{{ . }}"><i class="fa-brands fa-twitter fa-2x" aria-hidden="true"></i>
      {{- if $e.speakers_verbose }} @{{ . }}<br />{{- end -}}
      </a>
    {{- end -}}
    {{- with .Params.website -}}
      <a href="{{ . }}"><i class="fa-solid fa-house fa-2x" aria-hidden="true"></i>&nbsp;
      {{- if $e.speakers_verbose }} {{ . }}<br />{{- end -}}
      </a>
    {{- end -}}
    {{- with .Params.facebook -}}
      <a href="{{ . }}"><i class="fa-brands fa-facebook fa-2x" aria-hidden="true"></i>&nbsp;
      {{- if $e.speakers_verbose }} {{ . }}<br />{{- end -}}
      </a>
    {{- end -}}
    {{- with .Params.linkedin -}}
      <a href="{{ . }}"><i class="fa-brands fa-linkedin fa-2x" aria-hidden="true"></i>&nbsp;
      {{- if $e.speakers_verbose }} {{ . }}<br />{{- end -}}
      </a>
    {{- end -}}
    {{- with .Params.github -}}
      <a href="https://github.com/{{ . }}"><i class="fa-brands fa-github fa-2x" aria-hidden="true"></i>&nbsp;
      {{- if $e.speakers_verbose }} {{ . }}<br />{{- end -}}
      </a>
    {{- end -}}
    {{- with .Params.pronouns -}}
      <a href="https://pronoun.is/{{ . }}"><i class="fa-solid fa-user fa-2x" aria-hidden="true"></i>&nbsp;
      {{- if $e.speakers_verbose }} https://pronoun.is/{{ . }}<br />{{- end -}}
      </a>
    {{- end -}}
    {{- with .Params.twitch -}}
      <a href="https://twitch.tv/{{ . }}"><i class="fa-brands fa-twitch fa-2x" aria-hidden="true"></i>&nbsp;
      {{- if $e.speakers_verbose }} {{ . }}<br />{{- end -}}
      </a>
    {{- end -}}
    {{- with .Params.mastodon -}}
      <a href="{{ . }}"><i class="fa-brands fa-mastodon fa-2x" aria-hidden="true"></i>&nbsp;
      {{- if $e.speakers_verbose }} {{ . }}<br />{{- end -}}
      </a>
    {{- end -}}
    {{- with .Params.bluesky -}}
      <a href="{{ . }}"><i class="fa-brands fa-bluesky fa-2x" aria-hidden="true"></i>&nbsp;
      {{- if $e.speakers_verbose }} {{ . }}<br />{{- end -}}
      </a>
    {{- end -}}
  </div>
</div>
{{ partialCached "sponsors.html" . .File.Dir }}
{{ end }}
