{{ partial "header.html" . }}

<div class="row">
  <div class="col-md-2">
    <img src="/images/devopsdays-brain.png" class="img-responsive">
  </div>
  <div class="col-md-10">
    <h1>The conference that brings development and operations together.</h1>
  </div>
</div>

<!-- new navbar -->
<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href="/"><i class="fa fa-home fa-2x"></i><br/>Home</a></li>
        <li><a href="/contact"><i class="fa fa-comment-o fa-2x"></i><br />Contact</a></li>
        <li><a href="/events"><i class="fa fa-calendar fa-2x"></i><br />Events</a></li>
        <li><a href="/presentations"><i class="fa fa-lightbulb-o fa-2x"></i><br />Presentations</a></li>
        <li><a href="/blog"><i class="fa fa-newspaper-o fa-2x"></i><br />Blog</a></li>
        <li><a href="/sponsor"><i class="fa fa-heart-o fa-2x"></i><br />Sponsor</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a class = "social-links" href="https://twitter.com/{{ .Site.Params.social.twitter }}"><i class="fa fa-twitter-square fa-2x"></i></a>
        </li>
        <li>
          <a class = "social-links"  href="http://groups.google.com/group/devopsdays"><i class="fa fa-envelope fa-2x"></i></a>
        </li>
        <li>
          <a class = "social-links" href="http://www.linkedin.com/groups?home=&gid=2445279"><i class="fa fa-linkedin fa-2x"></i></a>
        </li>
      </ul>
    </div><!-- /.nav-collapse -->
  </div><!-- /.container -->
</nav><!-- /.navbar -->
<!-- end of new nav -->

<div class="row">
  <div class="col-md-8">
    <h2>Upcoming devopsdays events</h2>
    {{ partial "upcoming_headline.html" . }}
    {{ partial "map.html" .}}
  </div>
  <div class="col-md-4">
    <a href="https://twitter.com/devopsdaysmsp/lists/devopsdays"><h4>Tweets from devopsdays events</h4></a>
    <div>
    <a class="twitter-timeline" data-dnt="true" href="https://twitter.com/devopsdaysmsp/lists/devopsdays" data-widget-id="720829916510466048" data-chrome="noheader" height="440"></a>

    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-4 col-md-push-8">
    <h2>Future</h2>
  </div>
  <div class="col-md-8 col-md-pull-4">
    <h2>Past</h2>
    <!-- now we set a new row with a crapload of columns -->
    <div class="row">
      <div class="col-md-2">
        2009<br />
        Ghent<br />
        2010<br />
        Sydney<br />
        Mountain View<br />
        Hamburg<br />
        Sao Paulo<br />
      </div>
      <div class="col-md-2">
        2011<br />
        Boston<br />
        Melbourne<br />
        Mountain View<br />
        Bangalore<br />
        Göteborg<br />
        Manila
      </div>
      <div class="col-md-2">
        2012<br />
        Austin<br />
        Tokyo<br />
        Mountain View<br />
        Delhi<br />
        Rome<br />
        New York
      </div>
      <div class="col-md-2">
        2013<br />
        New Zealand<br />
        London (Spring)<br />
        Paris<br />
        Austin<br />
        Berlin<br />
        Amsterdam<br />
        Silicon Valley<br />
        Downunder<br />
        Tokyo<br />
        Tel Aviv<br />
        Atlanta<br />
        Barcelona<br />
        New York<br />
        Vancouver<br />
        Portland<br />
        London (Autumn)<br />
        Bangalore
      </div>
      <div class="col-md-2">
        2014<br />
        Nairobi<br />
        Ljubljana<br />
        Austin<br />
        Pittsburgh<br />
        Amsterdam<br />
        Silicon Valley<br />
        Minneapolis<br />
        Brisbane<br />
        Boston<br />
        Toronto<br />
        New York<br />
        Warsaw<br />
        Chicago<br />
        Berlin<br />
        Belgium<br />
        Helsinki<br />
        Vancouver<br />
        Tel Aviv<br />
        Bangalore
      </div>
      <div class="col-md-2">
        2015
        Ljubljana<br />
        Paris<br />
        Denver<br />
        New York<br />
        Austin<br />
        Toronto<br />
        Washington, DC<br />
        Amsterdam<br />
        Minneapolis<br />
        Melbourne<br />
        Pittsburgh<br />
        Chicago<br />
        Bangalore<br />
        Boston<br />
        Tel Aviv<br />
        Singapore<br />
        Berlin<br />
        Charlotte<br />
        Silicon Valley<br />
        Detroit<br />
        Ohio<br />
        Warsaw
      </div>
      <div class="col-md-2">
        2016<br />
        Los Angeles<br />
        Vancouver<br />
        London<br />
        Denver<br />
        Atlanta<br />
        Austin<br />
        Kiel<br />
        Seattle
      </div>
  </div>
</div>




{{ partial "footer.html" . }}
