{{ partial "header.html" . }}

<div class="row">
  <div class="col-md-8">
    <h1>Upcoming devopsdays events</h1>
    {{ partial "upcoming_headline.html" . }}
    {{ partial "map.html" .}}
  </div>
  <div class="col-md-4">
    <a href="https://twitter.com/devopsdays/lists/devopsdays"><h4>Tweets from devopsdays events</h4></a>
    <div>
    <a class="twitter-timeline" data-dnt="true" href="https://twitter.com/devopsdays/lists/devopsdays" data-chrome="noheader" height="440"></a>

    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </div>
  </div>
  <div class="col-md-4 last">
    <br>
    <a href="/events">Future (including unscheduled) & Past Events</a>
  </div>
</div>

{{ partial "footer.html" . }}
