{{ define "main" }}

<article>
  <header>
    <h1>{{ .Title }}</h1>
    {{- with .Params.author -}}
      <p class="blog-post-meta">by {{ . }} &mdash; {{ time.Format "02 January, 2006" $.Date }}</p>
    {{- else -}}
      <p class="blog-post-meta">{{ time.Format "02 January, 2006" .Date }}</p>
    {{- end -}}
  </header>

  <div class="content-text">
    {{ .Content }}
  </div>

  <div id="share"></div>

  <nav aria-label="Blog post navigation">
    <ul class="pagination">
      {{- with .PrevInSection -}}
        <li class="page-item">
          <a href="{{ .Permalink }}" class="page-link">
            <span aria-hidden="true">&larr;</span> Previous
          </a>
        </li>
      {{- else -}}
        <li class="page-item disabled">
          <span class="page-link"><span aria-hidden="true">&larr;</span> Previous</span>
        </li>
      {{- end -}}
      {{- with .NextInSection -}}
        <li class="page-item">
          <a href="{{ .Permalink }}" class="page-link">
            Next <span aria-hidden="true">&rarr;</span>
          </a>
        </li>
      {{- else -}}
        <li class="page-item disabled">
          <span class="page-link">Next <span aria-hidden="true">&rarr;</span></span>
        </li>
      {{- end -}}
    </ul>
  </nav>
</article>

{{ end }}
