<article class="blog-summary">
  <header>
    <h2><a href='{{ .Permalink }}'>{{ .Title }}</a></h2>
    {{- with .Params.author -}}
      <p class="blog-post-meta">by {{ . }} &mdash; {{ time.Format "02 January, 2006" $.Date }}</p>
    {{- else -}}
      <p class="blog-post-meta">{{ time.Format "02 January, 2006" .Date }}</p>
    {{- end -}}
  </header>
  {{- with .Params.description -}}
    {{ . | markdownify }}
  {{- else -}}
    {{ .Summary }}
  {{- end -}}
  <footer>
    <a href='{{ .Permalink }}' class="blog-read-more">Read more &rarr;</a>
  </footer>
</article>
