{{ define "main" }}

{{/* site data query copypasta */}}
{{ $path := split $.Source.File.Path .Site.Params.PathSeparator }}
{{ $event_slug := index $path 1 }}
{{ $e :=  (index $.Site.Data.events $event_slug) }}
{{/* end site data query */}}

<div class="row">
    <!-- enclosing div -->
    <div class="col-md-12">
        <!-- main content -->
        {{- partial "welcome.html" . -}}
        <!-- need to add else statement for the rest of the content types -->
        {{ partial "sponsors.html" . }}


    </div>{{ "<!-- close the content -->" | safeHTML }}


</div>{{ "<!-- whole big thing -->" | safeHTML }}



{{ end }}
