{{ define "main" }}
  <h2>Program</h2>

  {{ .Content }}

  {{- $.Scratch.Set "first" "true" -}}
  {{- with .Params.icons -}}
    {{- $.Scratch.Set "icons" (. | upper ) -}}
  {{- end -}}

  {{- $e := (index $.Site.Data.events (index (split (.Permalink | relURL) "/") 2)) -}}

  {{- if $e.startdate -}}
  {{- range where $.Site.Pages "Type" "talk" -}}
  {{/* {{- $talk_path := split .File.Path .Site.Params.PathSeparator -}} */}}
  {{- if eq (index (split (.Permalink | relURL) "/") 2) $e.name -}}
    {{- $.Scratch.Set "base_file_name" .File.BaseFileName -}}
    {{- $.Scratch.Set .File.BaseFileName .Title -}}
    {{- with .Params.vimeo -}}
      {{- $.Scratch.Set (printf "%s-video_link" ($.Scratch.Get "base_file_name")) (printf "https://player.vimeo.com/video/%s" .) }}
    {{- end -}}
    {{- with .Params.youtube -}}
      {{- $.Scratch.Set (printf "%s-video_link" ($.Scratch.Get "base_file_name")) (printf "https://www.youtube.com/embed/%s" .) }}
    {{- end -}}
    {{- with .Params.speakerdeck -}}
      {{- $.Scratch.Set (printf "%s-slides_link" ($.Scratch.Get "base_file_name")) . }}
    {{- end -}}
    {{- with .Params.slideshare -}}
      {{- $.Scratch.Set (printf "%s-slides_link" ($.Scratch.Get "base_file_name")) . }}
    {{- end -}}
    {{- with .Params.googleslides -}}
      {{- $.Scratch.Set (printf "%s-slides_link" ($.Scratch.Get "base_file_name")) (printf "https://docs.google.com/presentation/d/%s" .) }}
    {{- end -}}
    {{- with .Params.pdf -}}
      {{- $.Scratch.Set (printf "%s-slides_link" ($.Scratch.Get "base_file_name")) . }}
    {{- end -}}
    {{- with .Params.slides -}}
      {{- $.Scratch.Set (printf "%s-slides_link" ($.Scratch.Get "base_file_name")) . }}
    {{- end -}}

    {{- if isset .Params "speakers" -}}
      {{- if ne .Params.speakers "" -}}
        {{- $.Scratch.Set "speaker_len" (.Params.speakers | len) -}}
        {{- $.Scratch.Set "speaker_count" 0 -}}
      {{- end -}}
  {{- end -}}
  {{- range .Params.speakers -}}
  {{- $.Scratch.Set "speaker_count" (add ($.Scratch.Get "speaker_count") 1) -}}
  {{- $.Scratch.Set "speakername" . -}}
  {{- range where $.Site.Pages "Type" "speaker" -}}
  {{- if eq (index (split (.Permalink | relURL) "/") 2) $e.name -}}
  {{- if eq .File.BaseFileName ($.Scratch.Get "speakername") -}}
    {{- $.Scratch.Add (printf "%s-speaker" ($.Scratch.Get "base_file_name")) .Title -}}
    {{- if ne ($.Scratch.Get "speaker_count") ($.Scratch.Get "speaker_len") -}}
    {{- $.Scratch.Add (printf "%s-speaker" ($.Scratch.Get "base_file_name")) ", " -}}
    {{- end -}}
  {{- end -}}
  {{- end -}}
  <!-- end if eq $speaker_slug $e.name -->
  {{- end -}}
  <!-- end range where $.Site.Pages "Type" "speaker" -->
  {{- end -}}
  <!-- end ranging over speakers -->
  {{- end -}}
  <!-- end if eq $talk_slug $e.name -->
  {{- end -}}
  <!-- end range where $.Site.Pages "Type" "speaker" -->
    <!-- Get the dates for the program -->
    {{- with $e -}}
      {{- range .program -}}
        {{- $.Scratch.SetInMap "dates" .date .date -}}
      {{- end -}}
    {{- end -}}
  <!-- new experimental program end -->
  <div class="row">
    <div class="col">
      <div id="accordion" role="tablist" aria-multiselectable="true">
  {{- range ($.Scratch.GetSortedMapValues "dates") -}}
    {{- $.Scratch.Set "date" . -}}
            {{- with $e -}}
              {{- if .program -}}
              <div class="card">
                <div class="card-header" role="tab" id="{{printf "headingOne-%s" ($.Scratch.Get "date") }}">
                  <h5 class="mb-0">
                      {{- dateFormat "January 2, 2006" ($.Scratch.Get "date") -}}
                    </a>
                  </h5>
                </div>

                <div id="{{printf "#collapse-%s" ($.Scratch.Get "date") }}" class="collapse show" role="tabpanel" aria-labelledby="{{printf "headingOne-%s" ($.Scratch.Get "date") }}">
                  <div class="card-block">
                    <div class="row">
                      <div class="col-lg-6">
                        {{- $program := (where .program "date" ($.Scratch.Get "date")) -}}
                        {{- $program_len := (len $program) -}}
                        {{- $.Scratch.Set "program_len" $program_len -}}
                        {{- $.Scratch.Set "program_counter" 0 -}}
                        {{- range where .program "date" ($.Scratch.Get "date") -}}
                        {{- $.Scratch.Set "program_counter" (add ($.Scratch.Get "program_counter") 1) -}}
                        <div class = "row program-row">
                          <div class="col-lg-3 col-md-3 program-element {{ printf "program-%s" .type }}" {{ if .background_color }}style="background-color: {{ .background_color }}"{{end}}>
                            {{ .start_time }}
                            -
                            {{ .end_time }}
                          </div>
                          <div class="col-lg-8 col-md-6 program-element {{ printf "program-%s" .type }}" {{ if .background_color }}style="background-color: {{ .background_color }}"{{end}}>
                            {{- if eq .type "custom" -}}
                              {{- if .custom_url -}}
                                <a href="{{ .custom_url | safeURL }}">{{ .title }}<br/></a>
                              {{- else -}}
                                {{ .title }}<br/>
                              {{- end -}}
                              {{- if .comments -}}
                                <span class="program-page-desc">{{ .comments | markdownify }}<br/></span>
                              {{- end -}}
                              {{- else if or (eq .type "talk") (eq .type "workshop") -}}
                              {{- if .custom_url -}}
                                <a href="{{ .custom_url | safeURL }}">{{ $.Scratch.Get (printf "%s-speaker" .title) }} - {{ $.Scratch.Get .title }}</a><br/>
                              {{- else -}}
                                <a href="{{ (printf "events/%s/program/%s" $e.name .title) | absURL }}">{{ $.Scratch.Get (printf "%s-speaker" .title) }} - {{ $.Scratch.Get .title }}</a><br/>
                              {{- end -}}
                              {{- if eq  ($.Scratch.Get "icons")  "TRUE" -}}
                                {{- with ($.Scratch.Get (printf "%s-video_link" .title)) -}}&nbsp;<a href="{{ . }}"><i class="fa fa-video-camera" aria-hidden="true"></i></a>&nbsp;{{- end -}}
                                {{- with ($.Scratch.Get (printf "%s-slides_link" .title)) -}}&nbsp;<a href="{{ . }}"><i class="fa fa-file-text-o" aria-hidden="true"></i></a>&nbsp;{{- end -}}
                              {{- end -}}                           
                                {{- if .comments -}}
                                  <span class="program-page-desc">{{ .comments | markdownify }}<br/></span>
                                {{- end -}}

                              {{- else if eq .type "ignite" -}}
                              {{ .title }}
                              <!-- do ignite stuff here -->
                                {{- with $e -}}
                                  {{- if .ignites -}}
                                    {{- $ignites := (where $e.ignites "date" ($.Scratch.Get "date")) -}}
                                    {{- $ignites_len := (len $ignites) -}}
                                    {{- if ge $ignites_len 1 -}}
                                      <ul class="list-unstyled">
                                        {{- range where $e.ignites "date" ($.Scratch.Get "date") -}}
                                          <li>
                                          {{- if and ($.Scratch.Get .title) (.custom_url) -}}
                                            <a href="{{ .custom_url | safeURL }}">{{ $.Scratch.Get (printf "%s-speaker" .title) }} - {{ $.Scratch.Get .title }}</a>
                                          {{- else if ($.Scratch.Get .title) -}}
                                            <a href="/events/{{ $e.name }}/program/{{ .title }}">{{ $.Scratch.Get (printf "%s-speaker" .title) }} - {{ $.Scratch.Get .title }}</a>
                                          {{- else -}}
                                            {{ .title }}
                                          {{- end -}}
                                          {{- if eq  ($.Scratch.Get "icons")  "TRUE" -}}
                                            {{- with ($.Scratch.Get (printf "%s-video_link" .title)) -}}&nbsp;<a href="{{ . }}"><i class="fa fa-video-camera" aria-hidden="true"></i></a>&nbsp;{{- end -}}
                                            {{- with ($.Scratch.Get (printf "%s-slides_link" .title)) -}}&nbsp;<a href="{{ . }}"><i class="fa fa-file-text-o" aria-hidden="true"></i></a>&nbsp;{{- end -}}  
                                          {{- end -}}
                                          </li>
                                        {{- end -}}<!-- rang ignites-->
                                      </ul>
                                      {{- end -}} <!-- if ge $ignites_len 1 -->
                                  {{- end -}}
                                {{- end -}}
                              <!-- end ignite stuff here -->
                              <!-- do open-space stuff here -->
                              {{- else if (eq .type "open-space") -}}
                                {{- if .custom_url -}}
                                  <a href="{{ .custom_url | safeURL }}">{{ .title }}</a><br/>
                                {{- else -}}
                                  <a href="{{ "open-space-format/" | absURL }}">{{ .title }}</a><br/>
                                {{- end -}}
                              {{- else -}}
                                {{ .title }}
                              {{- end -}}
                          </div>
                        </div>
                        {{- if eq (div ($.Scratch.Get "program_len") 2) ($.Scratch.Get "program_counter") -}}
                      </div>
                      <div class="col-lg-6">
                        {{- end -}}
                      {{- end -}}
                    {{- end -}}
                  {{- end -}}
                </div>
              </div>
            </div>
          </div>
        </div>
{{- end -}}
</div>
</div>
</div>
<!--end row-->
</div>
</div>
{{- end -}}

{{ end }}
