{{ define "main" }}

  <h2>Program</h2>

  {{ $.Scratch.Set "first" "true" }}

  {{ $path := split $.Source.File.Path .Site.Params.PathSeparator }}
  {{ $event_slug := index $path 1 }}
  {{ $e :=  (index $.Site.Data.events $event_slug) }}

  {{ if $e.startdate }}
  {{- range where $.Site.Pages "Type" "talk" -}}
  {{- $talk_path := split .File.Path .Site.Params.PathSeparator -}}
  {{- $talk_slug := index $talk_path 1 -}}
  {{- if eq $talk_slug $event_slug -}}
  {{- $.Scratch.Set "base_file_name" .File.BaseFileName }}
  {{- $.Scratch.Set .File.BaseFileName .Title -}}
  {{ if isset .Params "speakers" }}
    {{ if ne .Params.speakers ""}}
      {{ $.Scratch.Set "speaker_len" (.Params.speakers | len) }}
      {{ $.Scratch.Set "speaker_count" 0 }}
    {{ end }}
  {{ end }}
  {{- range .Params.speakers -}}
  {{ $.Scratch.Set "speaker_count" (add ($.Scratch.Get "speaker_count") 1)}}
  {{ $.Scratch.Set "speakername" . }}
  {{- range where $.Site.Pages "Type" "speaker" -}}
  {{- $speaker_path := split .File.Path .Site.Params.PathSeparator -}}
  {{- $speaker_slug := index $speaker_path 1 -}}
  {{- if eq $speaker_slug $event_slug -}}
  {{ if eq .File.BaseFileName ($.Scratch.Get "speakername") }}
    {{- $.Scratch.Add (printf "%s-speaker" ($.Scratch.Get "base_file_name")) .Title -}}
    {{- if ne ($.Scratch.Get "speaker_count") ($.Scratch.Get "speaker_len") -}}
    {{- $.Scratch.Add (printf "%s-speaker" ($.Scratch.Get "base_file_name")) ", " -}}
    {{- end -}}
  {{ end }}
  {{- end -}}
  <!-- end if eq $speaker_slug $event_slug -->
  {{- end -}}
  <!-- end range where $.Site.Pages "Type" "speaker" -->
  {{- end -}}
  <!-- end ranging over speakers -->

  {{- end -}}
  <!-- end if eq $talk_slug $event_slug -->
  {{- end -}}
  <!-- end range where $.Site.Pages "Type" "speaker" -->

    <!-- Get the dates for the program -->
    {{ with $e }}
      {{ range .program }}
        {{ $.Scratch.SetInMap "dates" .date .date }}
      {{ end }}
    {{ end }}

  <!-- new experimental program end -->
  <div class="row">
    <div class="col">
      <div id="accordion" role="tablist" aria-multiselectable="true">
  {{ range ($.Scratch.GetSortedMapValues "dates") }}
    {{ $.Scratch.Set "date" . }}


            {{ with $e }}
              {{ if .program }}
              <div class="card">
                <div class="card-header" role="tab" id="{{printf "headingOne-%s" ($.Scratch.Get "date") }}">
                  <h5 class="mb-0">

                    <a data-toggle="collapse" data-parent="#accordion" href="{{printf "#collapse-%s" ($.Scratch.Get "date") }}" aria-expanded="true" aria-controls="{{printf "#collapse-%s" ($.Scratch.Get "date") }}">
                      {{- dateFormat "January 2, 2006" ($.Scratch.Get "date") -}}
                    </a>
                  </h5>
                </div>

                <div id="{{printf "#collapse-%s" ($.Scratch.Get "date") }}" class="collapse show" role="tabpanel" aria-labelledby="{{printf "headingOne-%s" ($.Scratch.Get "date") }}">
                  <div class="card-block">
                    <div class="row">
                      <div class="col-md-6">
                        {{ $program := (where .program "date" ($.Scratch.Get "date")) }}
                        {{ $program_len := (len $program) }}
                        {{- $.Scratch.Set "program_len" $program_len -}}
                        {{- $.Scratch.Set "program_counter" 0 -}}
                        {{- range where .program "date" ($.Scratch.Get "date") -}}
                        {{- $.Scratch.Set "program_counter" (add ($.Scratch.Get "program_counter") 1) }}
                        <div class="row">
                          <div class="col-md-6">
                            {{ .start_time }}
                            -
                            {{ .end_time }}
                          </div>
                          <div class="col-md-6">
                            {{ if eq .type "custom" }}
                              {{ .title }}<br/>
                              {{ if .comments }}
                                <span class="program-page-desc">{{ .comments | markdownify }}<br/></span>
                              {{ end }}
                              {{ else }}
                              <a href="/events/{{ $event_slug}}/program/{{ .title }}">
                                {{ $.Scratch.Get (printf "%s-speaker" .title) }}
                                -
                                {{ $.Scratch.Get .title }}
                              </a><br/>
                            {{ end }}
                          </div>
                        </div>
                        {{- if eq (div ($.Scratch.Get "program_len") 2) ($.Scratch.Get "program_counter") }}
                      </div>
                      <div class="col-md-6">
                        {{- end -}}
                      {{ end }}
                    {{ end }}
                  {{ end }}
                </div>
              </div>
            </div>

          </div>
        </div>


{{ end }}
</div>
<!-- end accordion-->

</div>

</div>
<!--end row-->

<!-- begin new ignite nonsense-->
{{ with $e }}
  {{ if .ignites }}
    <div class="row">
      <div class="col-md-12">
        <h3 class="program-page">Ignite Sessions</h3>
      </div>
    </div>
    <div class = "row">
    {{ range ($.Scratch.GetSortedMapValues "dates") }}
      {{/* Set the current date we are looking at */}}
      {{ $.Scratch.Set "date" . }}
      {{ $ignites := (where $e.ignites "date" ($.Scratch.Get "date")) }}
      {{ $ignites_len := (len $ignites) }}
      {{ if ge $ignites_len 1 }}

          <div class = "col-md-6">
            <h4>{{- dateFormat "January 2, 2006" ($.Scratch.Get "date") -}}</h4>
            <div class = "row">
              <div class = "col-md-6">
                <ul>
                  {{- range where $e.ignites "date" ($.Scratch.Get "date") -}}

                  {{ if ($.Scratch.Get .title) }}
                    <li>
                      <a href="/events/{{ $event_slug}}/program/{{ .title }}">{{ $.Scratch.Get (printf "%s-speaker" .title) }}
                        -
                        {{ $.Scratch.Get .title }}</a>
                    </li>
                    {{ else }}
                    <li>
                      {{.title}}
                    </li>
                  {{ end }}
                  {{- end -}}
              </ul>
            </div>
          </div>
        </div>
      {{ end }}

    {{ end }}
  </div>





  {{ end }}



{{ end }}




<!-- end new ignite nonsense -->


</div>{{ "<!-- close the content -->" | safeHTML }}

</div>{{ "<!-- whole big thing -->" | safeHTML }}

{{ end }}

{{ end }}
