{{ partial "header.html" . }}

{{ $event := (print .Params.year (lower .Params.city)) }}
{{ $e :=  (index $.Site.Data.events $event) }}
<div class = "container-fluid">
  <div class="row">
		<div class="col-md-8">
      <h1> {{ $e.city }} - {{ title .Title }} </h1>
      <!-- Main navigation -->
      <div class="submenu">
        <h3>
        {{ range $navigation := $e.navigationelements}}
          <a href="/events/{{ $e.friendly }}/{{ $navigation}}">{{ $navigation }}</a>&nbsp;
        {{ end }}
        </h3>
      </div>

      {{ .Content }}
    </div>
    <div class="col-md-4">
    <!-- sponsor code begin -->
    {{ $sponsors := $e.sponsors }}
    {{ range $e.sponsor_levels }}
    <h2>{{ .label }} Sponsors</h2>
      {{ range where $sponsors "level" .id }}
        {{ $s :=  (index $.Site.Data.sponsors .id) }}
        {{ if isset $.Site.Data.sponsors .id }}
          <a href = "{{ $s.url }}"><img alt = "{{ .id }}" src = "/img/sponsors/{{ .id }}.png" class="img-responsive sponsor-logo" width = "100px"></a>
        {{ end }}
      {{ end }}
      <div class = "sponsor-cta">
        <a href = "/events/{{ $e.friendly }}/sponsor">Become a {{ .label }} Sponsor!</a>
      </div>
    {{ end }}

    <!-- sponsor code end -->
    </div>
  </div>

</div>
{{ partial "footer.html" . }}
