{{ partial "header.html" . }}

<div class="row">
  <div class="col-md-8">
    <h2>CITY YEAR - TITLE</h2>
    <div class = "event-navigation">
      <h3 class="event-navigation">
        <a href="/events/2016-amsterdam/welcome">welcome</a>&nbsp;
        <a href="/events/2016-amsterdam/program">program</a>&nbsp;
        <a href="/events/2016-amsterdam/workshops">workshops</a>&nbsp;
        <a href="/events/2016-amsterdam/speakers">speakers</a>&nbsp;
        <a href="/events/2016-amsterdam/location">location</a>&nbsp;
        <a href="/events/2016-amsterdam/registration">registration</a>&nbsp;
        <a href="/events/2016-amsterdam/sponsor">sponsor</a>&nbsp;
        <a href="/events/2016-amsterdam/contact">contact</a>&nbsp;
        <a href="/events/2016-amsterdam/conduct">conduct</a>&nbsp;
      </h3>
    </div>
  </div>
  <div class="col-md-4">
    <h3>Gold Sponsors</h3>
    <a href = "http://chef.io"><img alt = "chef" src = "/img/sponsors/chef.png" class="company-logo"></a>
    <a href = "https://www.redhat.com"><img alt = "redhat" src = "/img/sponsors/redhat.png" class="company-logo"></a>
</div>
</div>


    {{ partial "footer.html" . }}
