{{ partial "header.html" . }}

<div class="row">
  <div class="col-md-8">
    <h2>CITY YEAR - TITLE</h2>
    <div class = "event-navigation">
      <h3 class="event-navigation">
        <a href="/events/2016-amsterdam/welcome">welcome</a>&nbsp;
        <a href="/events/2016-amsterdam/program">program</a>&nbsp;
        <a href="/events/2016-amsterdam/workshops">workshops</a>&nbsp;
        <a href="/events/2016-amsterdam/speakers">speakers</a>&nbsp;
        <a href="/events/2016-amsterdam/location">location</a>&nbsp;
        <a href="/events/2016-amsterdam/registration">registration</a>&nbsp;
        <a href="/events/2016-amsterdam/sponsor">sponsor</a>&nbsp;
        <a href="/events/2016-amsterdam/contact">contact</a>&nbsp;
        <a href="/events/2016-amsterdam/conduct">conduct</a>&nbsp;
      </h3>
    </div>
    <div>
      <p>Actionable insight pitch deck waterfall is so 2000 and late thinker-maker-doer physical computing food-truck Steve Jobs unicorn human-centered design engaging bootstrapping entrepreneur ship it. Pair programming food-truck parallax SpaceTeam entrepreneur fund pitch deck cortado bootstrapping. Unicorn personas minimum viable product venture capital big data entrepreneur entrepreneur cortado intuitive. Iterate waterfall is so 2000 and late intuitive ideate ideate Steve Jobs experiential actionable insight SpaceTeam grok earned media human-centered design.</p>
      <p>Pitch deck fund parallax thinker-maker-doer waterfall is so 2000 and late latte pitch deck convergence paradigm convergence user story convergence cortado. Grok iterate big data viral agile paradigm SpaceTeam parallax grok. Thought leader venture capital hacker hacker earned media user centered design co-working human-centered design thinker-maker-doer. Integrate actionable insight co-working unicorn pivot intuitive physical computing user centered design thinker-maker-doer entrepreneur pivot SpaceTeam.</p>
      <p>Food-truck thinker-maker-doer physical computing ideate SpaceTeam engaging co-working. Prototype moleskine 360 campaign earned media food-truck thought leader waterfall is so 2000 and late affordances prototype pivot unicorn personas prototype. Food-truck quantitative vs. qualitative fund long shadow moleskine parallax viral Steve Jobs. Actionable insight convergence prototype affordances driven quantitative vs. qualitative pitch deck responsive pivot paradigm unicorn.</p>
  </div>
  </div>
  <div class="col-md-4">
    <h3>Gold Sponsors</h3>
    <a href = "http://chef.io"><img alt = "chef" src = "/img/sponsors/chef.png" class="company-logo"></a>
    <a href = "https://www.redhat.com"><img alt = "redhat" src = "/img/sponsors/redhat.png" class="company-logo"></a>
    <a href="http://www.pivotal.io"><img alt="pivotal" src="/img/sponsors/pivotal.png" class="company-logo"></a>
</div>
</div>


    {{ partial "footer.html" . }}
