<!DOCTYPE html>
<html itemscope lang="{{ .Site.LanguageCode }}">
<head>
  {{- if .IsPage -}}
    {{- if or (eq .Type "welcome") (eq .Type "event") (eq .Type "speakers") (eq .Type "talk") (eq .Type "speaker") (eq .Type "program") (eq .Type "new-event") (eq .Type "new-speakers") (eq .Type "new-talk") (eq .Type "new-speaker") (eq .Type "new-program") -}}
      {{- $event_year := (index (split (.Permalink | relURL) "/") 2) -}}
      {{- $event_city := (index (split (.Permalink | relURL) "/") 3) -}}
      {{- $base_dir := (printf "%s/%s" $event_year $event_city) -}}
      {{ partialCached "head.html" . $base_dir }}
    {{- else -}}
      {{- partial "head.html" . -}}
    {{- end -}}
  {{- else -}}
    {{- partial "head.html" . -}}
  {{- end -}} 
</head>
<body lang="{{ .Site.Params.Lang }}">
  {{- partialCached "global_navbar.html" . -}}
  {{ if and (eq (index (split (.Permalink | relURL) "/") 1) "events") (ne .Type "events") }}
    {{- partial "events/event_navbar.html" . -}}
  {{ end }}
  <!-- TEMPORARY NEW NAV THING-->

  {{ if and (eq (index (split (.Permalink | relURL) "/") 1) "new-events") (ne .Type "events") }}
    {{- partial "events/new_event_navbar.html" . -}}
  {{ end }}
  <!-- END NEW NAV THING-->
  <div class="container-fluid">
        <div class="row">
          {{- if .IsPage -}}
            {{ if or (eq (index (split (.Permalink | relURL) "/") 1) "events") (eq .Type "events") (eq (index (split (.Permalink | relURL) "/") 1) "new-events")}}
              <div class="col-md-12">
                  {{- block "main" . }} {{- end -}}
              </div>
            {{- else if (eq (index (split (.Permalink | relURL) "/") 1) "organizing") -}}
              <div class="col-md-8 order-md-12">
                  {{- block "main" . }} {{- end -}}
              </div>
               <div class="col-md-2 order-md-1">
                  <a href = "{{ "/events" }}" class="left-nav-navs">Table of Contents</a><br />
                  {{- partial "toc.html" . -}}
               </div>
	          {{- else -}}
              <div class="col-md-8 order-md-12">
                  {{- block "main" . }} {{- end -}}
              </div>
              <div class="col-md-2 order-md-1">
                  <a href = "{{ "/events" }}" class="left-nav-navs">ALL EVENTS</a><br />
                  {{- partial "future.html" . -}}
              </div>
            {{- end -}}
            <!-- this else if is added for new stuff-->
          {{- else if (eq (index (split (.Permalink | relURL) "/") 1) "new-events") -}}
              <div class="col-md-12">
                {{- block "main" . }} {{- end -}}
              </div>
          {{- else -}}
            <div class="col-md-8 order-md-12">
                {{- block "main" . }} {{- end -}}
            </div>
            <div class="col-md-2 order-md-1">
                <a href = "{{ "/events"}}" class="left-nav-navs">ALL EVENTS</a><br />
                {{- partial "future.html" . -}}
            </div>
        {{- end -}}
        </div>
      </div>
    {{- partialCached "footer.html" . -}}
    {{- partial "footer_scripts.html" . -}}
</body>
</html>
