{{ $path := split .Page.Source.File.Path .Site.Params.PathSeperator }}
{{ $event_slug := index $path 1 }}
{{ $e :=  (index .Page.Site.Data.events $event_slug) }}

<ul>
  {{ if $e.team_members }}
    {{ range $e.team_members }}
      <li>
        {{ .name }}
        {{ if .twitter }}
          {{ $twitter := replace .twitter "@" "" }}
          - <a href="http://twitter.com/{{ $twitter }}">@{{ $twitter }}</a>
        {{ end }}
        {{ if .employer }}
          - <em>{{ .employer }}</em>
        {{ end}}
      </li>
    {{ end }}
  {{ else }}
    {{ range $event_organizers := $e.team }}
      <li>{{ $event_organizers }}</li>
    {{ end }}
  {{ end }}
</ul>
