{{ define "main" }}

<div>
  {{ .Content }}
</div>
<div class="row">
  <div class="col-md-12">
    <h2>Upcoming</h2>
  </div>
</div>

{{- $upcoming := partial "functions/get-upcoming-events" . -}}
{{- $tbd := partial "functions/get-tbd-events" . -}}
{{- $events := partial "functions/get-all-events" . -}}

<div class="row">
{{- $currentMonth := "" -}}
{{- $needsCloseTag := false -}}
{{- range sort $upcoming "startdate" -}}
  {{- $month := time.Format "January 2006" .startdate -}}
  {{- if ne $currentMonth $month -}}
    {{- $currentMonth = $month -}}
    {{- if $needsCloseTag -}}
      </div>
    {{- end -}}
    <div class="col-md-6 col-lg-3 events-page-col">
      <h4 class="events-page-months">{{ $month }}</h4>
    {{- $needsCloseTag = true -}}
  {{- end -}}
  {{- $start := time.AsTime .startdate -}}
  {{- $end := time.AsTime .enddate -}}
  {{- if or (ne $start.Month $end.Month) (ne $start.Day $end.Day) -}}
    <a href='{{ printf "/events/%s" .name }}' class="events-page-event">
      {{ time.Format "Jan 2" .startdate }} - {{ time.Format "2" .enddate }}: {{ .city }}
    </a><br />
  {{- else -}}
    <a href='{{ printf "/events/%s" .name }}' class="events-page-event">
      {{ time.Format "Jan 2" .startdate }}: {{ .city }}
    </a><br />
  {{- end -}}
{{- end -}}
</div>
<div class="col-md-6 col-lg-3 events-page-col">
  <h4 class="events-page-months">TBD</h4>
  {{- range sort $tbd "city" -}}
    <a href='{{ printf "/events/%s" .name }}' class="events-page-event">{{ .city }}</a><br />
  {{- end -}}
</div>
</div>

<div class="row">
  <div class="col-md-12">
    <h2>Past</h2>
  </div>
</div>
<div class="row">
  {{- $currentYear := "" -}}
  {{- $needsCloseTag := false -}}
  {{- range sort $events "startdate" -}}
    {{- if lt (time.Format "2006-01-02" .enddate) (time.Format "2006-01-02" now) -}}
      {{- $year := time.Format "2006" .startdate -}}
      {{- if ne $currentYear $year -}}
        {{- $currentYear = $year -}}
        {{- if $needsCloseTag -}}
          </div>
        {{- end -}}
        <div class="col-md-6 col-lg-3 events-page-col">
          <h4 class="events-page-months">{{ $year }}</h4>
        {{- $needsCloseTag = true -}}
      {{- end -}}
      <a href='{{ printf "/events/%s" .name }}' class="events-page-event">{{ .city }}</a>
      <br/>
    {{- end -}}
  {{- end -}}
</div>
{{ end }}
