{{ define "main" }}

{{- $e := (index $.Site.Data.events (index (split (.Permalink | relURL) "/") 2)) -}}

<div class = "row">
    <div class = "col-md-5 offset-md-1">
    <h2 class="talk-page">{{ .Title }}</h2>

    {{- if isset .Params "youtube" -}}
      {{- if ne .Params.youtube "" -}}
        <div class="row">
            <div class="col-md-12 youtube-video">
              <div class="embed-responsive embed-responsive-16by9">
              <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/{{ .Params.youtube }}">
              </iframe>
              </div>
            </div>
          </div>
        {{- end -}}
    {{- end -}}
    <br />
      <span class="talk-page content-text">
        {{ .Content }}
      </span>

      {{- if isset .Params "slideshare" -}}
        {{- if ne .Params.slideshare "" -}}
          <div class = "row">
            <div class = "col">
              <h2 class="talk-page">Slideshare</h2>
              <a href="{{ .Params.slideshare }}" class="embed"></a>
            </div>
          </div>
        {{- end -}}
      {{- end -}}

      {{- if isset .Params "speakerdeck" -}}
        {{- if ne .Params.speakerdeck "" -}}
        <div class = "row">
          <div class = "col" style="max-width:100%">
            <h2 class="talk-page">Speakerdeck</h2>
              {{/* {{- $dataJ := getJSON "http://speakerdeck.com/oembed.json?url=" .Params.speakerdeck "&format=json" -}}
              {{ $dataJ.html | safeHTML }} */}}
<a class="embedly-card" data-card-controls="0" href="{{.Params.speakerdeck}}">{{ .Title }}</a>
<script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>
          </div>
        </div>
        {{- end -}}
      {{- end -}}

      {{- if isset .Params "slides" -}}
        {{- if ne .Params.slides "" -}}
        <div class = "row">
          <div class = "col">
            <h2 class="talk-page">Slides</h2>
            <a href = "{{ .Params.slides }}">Link to Slides</a>
          </div>
        </div>
        {{- end -}}
      {{- end -}}

  </div>
  <div class = "col-md-3 offset-md-1">
  {{- if isset .Params "speakers" -}}
    {{- if ne .Params.speakers "" -}}
      {{- if gt (.Params.speakers | len) 1 -}}
        <h2 class="talk-page">Speakers</h2>
      {{- else -}}
        <h2 class="talk-page">Speaker</h2>
      {{- end -}}
    {{- end -}}


  {{- range .Params.speakers -}}
    {{- $.Scratch.Set "speakername" . -}}
    {{- range where $.Site.Pages "Type" "speaker" -}}
      {{- if eq (index (split (.Permalink | relURL) "/") 2) $e.name -}}
        {{- if eq .File.BaseFileName ($.Scratch.Get "speakername") -}}
        <a href = "{{ (printf "events/%s/speakers/%s" $e.name ($.Scratch.Get "speakername")) | absURL}}">
        {{- if isset .Params "image" -}}
          {{- if ne .Params.image "" -}}
            <img src = "{{ (printf "events/%s/speakers/%s" $e.name .Params.image) | absURL }}" class="img-fluid"  alt="{{ $.Scratch.Get "speakername" }}"/><br />
          {{- end -}}
          {{- else -}}
            <img src = "{{"img/speaker-default.png" | absURL }}" class="img-fluid"  alt="{{ $.Scratch.Get "speakername" }}"/><br />
        {{- end -}}
          <h4 class="talk-page"><a href = "{{ (printf "events/%s/speakers/%s" $e.name ($.Scratch.Get "speakername")) | absURL }}">
            {{ .Title }}
          </a></h4>
          <span class="talk-page content-text">{{ .Content }}</span>
        {{- end -}}

      {{- end -}}
    {{- end -}} <!-- end range where $.Site.Pages "Type" "speaker" -->
  {{- end -}}
  {{- else -}}<!-- now show the old stuff -->
  <h2 class="talk-page">Speaker</h2>
  {{- range $fname, $s := index .Site.Data.speakers (print (chomp $e.year)) (substr $e.name 5) -}}
  {{- if in ($.LinkTitle | urlize) $fname -}}
<div class="row">
   <div class="col-md-12">
       <img alt = "{{ $s.name }}" src = "{{ (printf "events/%s/speakers/%s.jpg" $e.name $fname) | absURL }}" class="img-responsive" width = "250px">
   </div>
</div>
<div class = "row">
   <div class= "col-md-8">
      <h3>{{ $s.name }}</h3>
      {{ if $s.twitter }} <a href="https://twitter.com/{{ $s.twitter }}">@{{ $s.twitter }}</a><br>{{ end }}
    <br>
    {{ $s.bio | markdownify }}
   </div>
</div>
  {{- end -}}
{{- end -}}
{{- end -}} <!-- end check for speakers being set -->
</div>
</div>

{{- partial "sponsors.html" . -}}


{{ end }}
