{{ define "main" }}

{{- $e := partial "functions/get-event-data" . -}}

<div class="row">
    <div class="col-md-5 offset-md-1">
    <h2 class="talk-page">{{ .Title }}</h2>

    {{- with .Params.youtube -}}
      <div class="row">
        <div class="col-md-12 youtube-video">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/{{ . }}" allowfullscreen></iframe>
          </div>
        </div>
      </div>
      <br />
    {{- end -}}

    {{- with .Params.vimeo -}}
      <div class="row">
        <div class="col-md-12 vimeo-video">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/{{ . }}" allowfullscreen></iframe>
          </div>
        </div>
      </div>
      <br />
    {{- end -}}

    {{- with .Params.slideslive -}}
      <div class="row">
        <div class="col">
          <div id="presentation-embed-{{ . }}"></div>
          <script src='https://slideslive.com/embed_presentation.js'></script>
          <script>
            embed = new SlidesLiveEmbed('presentation-embed-{{ . }}', {
              presentationId: '{{ . }}',
              autoPlay: false
            });
          </script>
        </div>
      </div>
      <br />
    {{- end -}}

      <span class="talk-page content-text">
        {{ .Content }}
      </span>

      {{- with .Params.slideshare -}}
        <div class="row">
          <div class="col">
            <h2 class="talk-page">Slideshare</h2>
            <a href="{{ . }}" class="embed"></a>
          </div>
        </div>
      {{- end -}}

      {{- with .Params.speakerdeck -}}
        <div class="row">
          <div class="col" style="max-width:100%">
            <h2 class="talk-page">Speakerdeck</h2>
            <a class="embedly-card" data-card-controls="0" href="{{ . }}">{{ $.Title }}</a>
            <script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>
          </div>
        </div>
      {{- end -}}

      {{- with .Params.googleslides -}}
        <div class="row">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe src="https://docs.google.com/presentation/d/{{ . }}/embed?start=false&loop=false" allowfullscreen="true"></iframe>
          </div>
        </div>
      {{- end -}}

      {{- with .Params.pdf -}}
        <div class="row">
          <div class="col" style="max-width:100%">
            <div>
              <object data="{{ . }}" type="application/pdf" width="600" height="400">
                alt : <a href="{{ . }}">{{ $.Title }}</a>
              </object>
            </div>
          </div>
        </div>
      {{- end -}}

      {{- with .Params.notist -}}
        <div class="row">
          <div class="col">
            <p data-notist="{{ . }}">View <a href="https://noti.st/{{ . }}">{{ $.Title }}</a> on Notist.</p>
            <script async src="https://on.notist.cloud/embed/002.js"></script>
          </div>
        </div>
      {{- end -}}

      {{- with .Params.slides -}}
        <div class="row">
          <div class="col">
            <h2 class="talk-page">Slides</h2>
            <a href="{{ . }}">Link to Slides</a>
          </div>
        </div>
      {{- end -}}

  </div>
  <div class="col-md-3 offset-md-1">
  {{- with .Params.speakers -}}
    {{- if gt (. | len) 1 -}}
      <h2 class="talk-page">Speakers</h2>
    {{- else -}}
      <h2 class="talk-page">Speaker</h2>
    {{- end -}}

  {{- range . -}}
    {{- $speakerName := . -}}
    {{- $p := site.GetPage (printf "events/%s/speakers/%s" $e.name $speakerName) -}}
    {{- if $p -}}
      {{- with $p -}}
        {{- with .Params.image -}}
          {{- $assetsfolder := "assets/events/" -}}
          {{- if where (os.ReadDir $assetsfolder) "Name" $e.name -}}
            {{- $assetspeakersfolder := printf "assets/events/%s/speakers/" $e.name -}}
            {{- if fileExists $assetspeakersfolder -}}
              {{- if where (os.ReadDir $assetspeakersfolder) "Name" . -}}
                {{- $imagelocation := printf "events/%s/speakers/%s" $e.name . -}}
                {{- $imageresource := resources.Get $imagelocation -}}
                {{- $imagefile := $imageresource.Fit "600x600 webp Lanczos q100" -}}
                <img src='{{ $imagefile.RelPermalink }}' class="img-fluid" alt="{{ $speakerName }}"/><br />
              {{- end -}}
            {{- end -}}
          {{- else -}}
            <img src='{{ printf "/events/%s/speakers/%s" $e.name . }}' class='img-fluid' alt='{{ $speakerName }}'><br /><br />
          {{- end -}}
        {{- else -}}
          <img src="/img/speaker-default.jpg" class='img-fluid' alt='{{ $speakerName }}'><br /><br />
        {{- end -}}
        <h4 class="talk-page"><a href='{{ printf "/events/%s/speakers/%s" $e.name $speakerName }}'>
          {{ .Title }}
        </a></h4>
        {{- with .Params.twitter -}}
          <a href="https://twitter.com/{{ . }}"><i class="fa-brands fa-twitter fa-2x" aria-hidden="true"></i>&nbsp;</a>
        {{- end -}}
        {{- with .Params.website -}}
          <a href="{{ . }}"><i class="fa-solid fa-house fa-2x" aria-hidden="true"></i>&nbsp;</a>
        {{- end -}}
        {{- with .Params.facebook -}}
          <a href="{{ . }}"><i class="fa-brands fa-facebook fa-2x" aria-hidden="true"></i>&nbsp;</a>
        {{- end -}}
        {{- with .Params.linkedin -}}
          <a href="{{ . }}"><i class="fa-brands fa-linkedin fa-2x" aria-hidden="true"></i>&nbsp;</a>
        {{- end -}}
        {{- with .Params.github -}}
          <a href="https://github.com/{{ . }}"><i class="fa-brands fa-github fa-2x" aria-hidden="true"></i>&nbsp;</a>
        {{- end -}}
        {{- with .Params.pronouns -}}
          <a href="https://pronoun.is/{{ . }}"><i class="fa-solid fa-user fa-2x" aria-hidden="true"></i>&nbsp;</a>
        {{- end -}}
        {{- with .Params.twitch -}}
          <a href="https://twitch.tv/{{ . }}"><i class="fa-brands fa-twitch fa-2x" aria-hidden="true"></i>&nbsp;</a>
        {{- end -}}
        {{- with .Params.mastodon -}}
          <a href="{{ . }}"><i class="fa-brands fa-mastodon fa-2x" aria-hidden="true"></i>&nbsp;</a>
        {{- end -}}
        {{- with .Params.bluesky -}}
          <a href="{{ . }}"><i class="fa-brands fa-bluesky fa-2x" aria-hidden="true"></i>&nbsp;</a>
        {{- end -}}
        <br />
        <span class="talk-page content-text">
          {{- if ge (countrunes .Content) 200 -}}
            {{ .Content | markdownify | truncate 200 " " }}<a href="{{ .Permalink }}">...</a>
          {{- else -}}
            {{ .Content | markdownify }}
          {{- end -}}
        </span>
      {{- end -}}
    {{- end -}}
  {{- end -}}
  {{- else -}}
    <h2 class="talk-page">Speaker</h2>
    {{- range $fname, $s := index site.Data.speakers (strings.TrimRight "\n" $e.year) (substr $e.name 5) -}}
      {{- if in ($.LinkTitle | urlize) $fname -}}
        <div class="row">
          <div class="col-md-12">
            <img alt="{{ $s.name }}" src='{{ printf "/events/%s/speakers/%s.jpg" $e.name $fname }}' class="img-responsive" width="250px">
          </div>
        </div>
        <div class="row">
          <div class="col-md-8">
            <h3>{{ $s.name }}</h3>
            {{ with $s.twitter }} <a href="https://twitter.com/{{ . }}">@{{ . }}</a><br>{{ end }}
            <br>
            {{ $s.bio | markdownify }}
          </div>
        </div>
      {{- end -}}
    {{- end -}}
  {{- end -}}
</div>
</div>

{{- partialCached "sponsors.html" . .File.Dir -}}

{{ end }}
