{{ partial "header.html" . }}

<!-- put the event partial header here -->

{{/*
  This section is what creates the query to get at all the site data. If you need this somewhere, you can just copy
  it and paste it. Need to figure out if a partial would expose the variables/elements/array created herein. It could be done in a partial (need to include the trailing .) but I don't think it would work in shortcodes, which is where we need it the most - mattstratton
*/}}

{{ $path := split $.Source.File.Path "/" }}
{{ $event_slug := index $path 1 }}
{{ $e :=  (index $.Site.Data.events $event_slug) }}
{{ $citydisplay := $e.displayname }}
{{ if $e.displayname }}
  {{ $.Scratch.Add "citydisplay" $e.displayname }}
{{ else }}
  {{ $.Scratch.Add "citydisplay" $e.city }}
{{ end }}

{{/* end site data query */}}

<div class="row">
  <div class="col-md-8">
    <h1>{{ $.Scratch.Get "citydisplay" }} {{ $e.year }} - {{ title .Title }}</h1>
    <!-- Main navigation -->
    <nav class="navbar navbar-default">
      <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbar-collapse-1">
      <div class="btn-group " role="group">
        {{ if $e.nav_elements }}
          {{ range $e.nav_elements }}
            {{ if .url }}
            <div class="btn-group">
              <a class="btn btn-default" href="{{ .url}}">
                 {{ .name }}
                 <small><span class="glyphicon glyphicon-new-window"></span></small>
              </a>
            </div>
            {{ else }}
              <div class="btn-group">
                <a class="btn btn-default" href="/events/{{ $event_slug }}/{{ .name }}">{{ .name }}</a>
              </div>
            {{ end }}
         {{ end }}
         {{ else }}
          {{ range $navigation := $e.navigationelements}}
            <div class="btn-group">
              <a class="btn btn-default" href="/events/{{ $event_slug }}/{{ $navigation}}">{{ $navigation }}</a>
            </div>
          {{ end }}
         {{ end }}
      </div>
      </div>
      </div>
    </nav>
