    </div> <!-- this closes the initial container div -->
    <div class="footer">
      <div>
          <a class = "social-links" href="{{ .Site.Params.Twitter }}"><i class="fa fa-twitter-square fa-2x"></i></a>
          <a class = "social-links"  href="/contact"><i class="fa fa-envelope fa-2x"></i></a>
          <a class = "social-links" href="/blog/index.xml"><i class="fa fa-rss fa-2x"></i></a>
          <a class = "social-links" href="/conduct"><i class="fa fa-map-signs fa-2x"></i></a>
      </div>
    </div>
    {{ partial "footer_scripts" . }}
  </div>
  </body>
</html>
