    </div> <!-- this closes the initial container div -->
    <div class="footer">
      <div>
          <a class = "social-links" href="{{ .Site.Params.Twitter }}"><i class="fa fa-twitter-square fa-2x"></i></a>
          <a class = "social-links"  href="http://groups.google.com/group/devopsdays"><i class="fa fa-envelope fa-2x"></i></a>
          <a class = "social-links" href="http://www.linkedin.com/groups?home=&gid=2445279"><i class="fa fa-linkedin fa-2x"></i></a>
      </div>
    </div>
    {{ partial "footer_scripts" . }}
  </body>
</html>
