<!--
Future events should take place in the current or following year.
E.g. We should have events in January next year appear when it
is December of the current year.

This code creates 2-3 lists: One of current years and a list of current events
for each year (namespaced with "future" to prevent collisions). Later we loop
through these lists to generate our event info.

-->


<div class="span-6 last">
    <div style=" padding-top:18px;" class="span-5 last">
        <h1>Future</h1>
    </div>

    <div class="span-6 last">
        <div style="height:750px;" id="quicklinks">
            <table>
                <tr>
                    <div style="display:table-cell; vertical-align:top">
                        <div style="margin:1px;">
                            {{ range sort $.Site.Data.events "startdate" }}
                              {{ if .startdate }}
                              {{ if ge (dateFormat "2006-01-02" .startdate) (dateFormat "2006-01-02" ($.Now.Format "2006-01-02")) }}
                              <a href = "/events/{{ .name }}/welcome">
                                  {{ .city }}
                                {{ dateFormat "Jan 2, 2006" .startdate }}
                                -
                                {{ dateFormat "Jan 2, 2006" .enddate }}
                              </a><br />
                              {{ end }}
                              {{ end }}
                            {{ end }}

                            <br />
                            <strong>Future Dates TBD</strong><br/>
                            {{ range sort $.Site.Data.events "city" }}
                              {{ if not .startdate }}
                              <a href = "/events/{{ .name }}/welcome">
                                  {{ .city }}
                              </a><br />
                              {{ end }}
                            {{ end }}
                        </div>
                    </div>

                </tr>
            </table>
        </div>
    </div>
  </div>
