<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', '{{ .Site.GoogleAnalytics }}', 'auto');
  ga('send', 'pageview');


{{/*

{{ if isset .Params "year" }}

  {{ $path := split $.Source.File.Path .Site.Params.PathSeperator }}
  {{ $event_slug := index $path 1 }}
  {{ $event := (print .Params.year (lower .Params.city)) }}
  {{ $e :=  (index $.Site.Data.events $event_slug) }}

  {{ if isset $e "ga_tracking_id" }}

  ga('create', '{{ $e.ga_tracking_id }}', {'name':'{{ print .Params.year .Params.city }}'});
  ga('send', 'pageview');

  {{ end }}

{{end}}

*/}}

</script>
