<div class="upcoming-headline">
  <h3 class = "upcoming-headline">
  {{ range sort $.Site.Data.events "startdate" }}
    {{ if .startdate }}
    {{ if ge (dateFormat "2006-01-02" .startdate) (dateFormat "2006-01-02" ($.Now.Format "2006-01-02")) }}
      {{ $.Scratch.Add "events" "<a href = '/events/" }}
      {{ $.Scratch.Add "events" .name }}
      {{ $.Scratch.Add "events" "/welcome' class = 'upcoming-headline'>" }}
        {{ $.Scratch.Add "events" .city }}
      {{ $.Scratch.Add "events" "</a> - " }}

    {{ end }}
    {{ end }}
  {{ end }}
  {{ substr ($.Scratch.Get "events") 0 -3 | safeHTML }}
  </h3>
</div>
