name: test hugo

on:
  workflow_run:
    workflows: ["check filename case"]
    types:
      - completed

jobs:
  test-linux:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    name: Build hugo on Linux
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: true  # Fetch Hugo themes (true OR recursive)
          fetch-depth: 0    # Fetch all history for .GitInfo and .Lastmod

      - name: Setup Hugo
        uses: peaceiris/actions-hugo@v2
        with:
          hugo-version: '0.102.3'
          # extended: true

      - name: Build
        run: hugo -v

      - uses: actions/setup-node@v2
        with:
          node-version: 12
      - run: npm ci

      - name: Test
        run: gulp min-html

  test-windows:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    name: Build hugo on Windows
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: true  # Fetch Hugo themes (true OR recursive)
          fetch-depth: 0    # Fetch all history for .GitInfo and .Lastmod
      - name: Setup Hugo
        uses: peaceiris/actions-hugo@v2
        with:
          hugo-version: '0.102.3'
          # extended: true

      - name: Build
        run: hugo -v
