<div>
  <a href="/feed"><img width="32px" height="32px" alt="rss" title="rss feed" src="/images/feed.png"></a>
  <a href="{{ .Site.Params.Twitter }}"><img width="32px" height="32px" alt="twitter" title="twitter" src="/images/twitter.png"></a>
  <a href="{{ .Site.Params.Groups }}"><img width="32px" height="32px" alt="mail" title="mailinglist" src="/images/email.png"></a>
  <!-- <a href="{{ .Site.Params.Facebook }}"><img width="32px" height="32px" alt="mail" title="facebook" src="/images/facebook.png"></a> -->
  <a href="{{ .Site.Params.Linkedin }}"><img width="32px" height="32px" alt="mail" title="linkedin" src="/images/linkedin.png"></a>
</div>
