<div>
  <a href="/feed"><img width="32px" height="32px" alt="rss" title="rss feed" src="/images/feed.png"></a>
  <a href="http://www.twitter.com/devopsdays"><img width="32px" height="32px" alt="twitter" title="twitter" src="/images/twitter.png"></a>
  <a href="http://groups.google.com/group/devopsdays"><img width="32px" height="32px" alt="mail" title="mailinglist" src="/images/email.png"></a>
  <a href="http://www.facebook.com/group.php?gid=106761636771"><img width="32px" height="32px" alt="mail" title="facebook" src="/images/facebook.png"></a>
  <a href="http://www.linkedin.com/groups?home=&gid=2445279"><img width="32px" height="32px" alt="mail" title="linkedin" src="/images/linkedin.png"></a>
</div>
