<!--
Future events (i.e. "current" status) should take place in the current or
following year. E.g. We should have events in January next year appear when it
is December of the current year.

This code creates 2-3 lists: One of current years and a list of current events
for each year (namespaced with "future" to prevent collisions). Later we loop
through these lists to generate our event info.

^^^ This isn't how this works right now - this is a sloppy implementation which hard-codes it to the year 2016, but it works for now -@mattstratton
-->


<div class="span-6 last">
    <div style=" padding-top:18px;" class="span-5 last">
        <h1>Future</h1>
    </div>

    <div class="span-6 last">
        <div style="height:700px;" id="quicklinks">
            <table>
                <tr>
                    <div style="display:table-cell; vertical-align:top">
                        <div style="margin:1px;">
                            <strong>2016</strong><br/>
                            {{ range sort $.Site.Data.events "startdate" }}
                              {{ if  and ( eq .status "current") ( .startdate ) }}
                              <a href = "/events/{{ .name }}/welcome">
                                {{ .city }}
                                {{ dateFormat "Jan 2" .startdate }}
                                -
                                {{ dateFormat "Jan 2" .enddate }}
                              </a><br />
                              {{ end }}
                            {{ end }}
                            <br />
                            <strong>2016, Dates TBD</strong><br/>
                            {{ range sort $.Site.Data.events "startdate" }}
                              {{ if  and ( eq .status "current") ( not .startdate ) }}
                              <a href = "/events/{{ .name }}/welcome">
                                {{ .city }}
                              </a><br />
                              {{ end }}
                            {{ end }}
                        </div>
                    </div>

                </tr>
            </table>
        </div>
    </div>
  </div>
