<div class="span-6 last">
    <div style=" padding-top:18px;" class="span-5 last">
        <h1>Future</h1>
    </div>

    <div class="span-6 last">
        <div style="height:700px;" id="quicklinks">
            <table>
                <tr>
                    <div style="display:table-cell; vertical-align:top">
                        <div style="margin:1px;">
                            <strong>2016</strong> <!--lazy hardcoding! -->
                            <br/>

                            {{ range sort $.Site.Data.events "startdate" "asc"}}
                              {{ if eq .status "current" }}
                                <a href="/events/{{ .friendly}}">{{ .city }}: {{ dateFormat "Jan 2" .startdate }} - {{ dateFormat "Jan 2" .enddate }}</a>
                                <br />
                              {{ end }}
                            {{ end }}
                        </div>
                    </div>

                </tr>
            </table>
        </div>
    </div>
  </div>
