<!--
Future events (i.e. "current" status) should take place in the current or
following year. E.g. We should have events in January next year appear when it
is December of the current year.

This code creates 2-3 lists: One of current years and a list of current events
for each year (namespaced with "future" to prevent collisions). Later we loop
through these lists to generate our event info.
-->

{{ range seq .Now.Year (add .Now.Year 1) }}
  {{ $future_year := (chomp .) }}
  {{ range $.Site.Data.events }}
    {{ if and (eq .year $future_year) (eq .status "current") ( .startdate ) }}
      {{ $.Scratch.SetInMap "future_years" $future_year $future_year }}
      {{ $.Scratch.SetInMap (print "future" $future_year) .startdate .friendly }}
    {{ end }}
  {{ end }}
{{ end }}

<div class="span-6 last">
    <div style=" padding-top:18px;" class="span-5 last">
        <h1>Future</h1>
    </div>

    <div class="span-6 last">
        <div style="height:700px;" id="quicklinks">
            <table>
                <tr>
                    <div style="display:table-cell; vertical-align:top">
                        <div style="margin:1px;">
                            {{ range ($.Scratch.GetSortedMapValues "future_years") }}
                                <strong>{{ . }}</strong><br/>
                                {{ range ($.Scratch.GetSortedMapValues (print "future" .)) }}
                                    {{ $c_event := (index $.Site.Data.events .) }}
                                    <a href="/events/{{ $c_event.name }}">{{ $c_event.city }}: {{ dateFormat "Jan 2" $c_event.startdate }} - {{ dateFormat "Jan 2" $c_event.enddate }}</a><br />
                                {{ end }}
                            {{ end }}
                        </div>
                    </div>

                </tr>
            </table>
        </div>
    </div>
  </div>
