<div id="headermenu">
<table >
  <tr>
    <td>
      <a href="/"><img alt="home" title="home" src="/images/home.png"></a>
      <a href="/">Home</a>
    </td>
    <td>
      <a href="/contact/"><img alt="contact" title="contact" src="/images/contact.png"></a>
      <a href="/contact/">Contact</a>
    </td>
    <td>
      <a href="/events/"><img alt="events" title="events" src="/images/events.png"></a>
      <a href="/events/">Events</a>
    </td>
    <td>
      <a href="/presentations/"><img alt="presentations" title="presentations" src="/images/presentations.png"></a>
      <a href="/presentations/">Presentations</a>
    </td>
    <td>
      <a href="/blog/"><img alt="blog" title="blog" src="/images/blog.png"></a>
      <a href="/blog/">Blog</a>
    </td>
    <td>
      <a href="/sponsor/"><img alt="sponsor" title="sponsor" src="/images/sponsor.png"></a>
      <a href="/sponsor/">Sponsor</a>
    </td>
  </tr>
</table>
</div>
