<div class="submenu" style="width:550px">
  <h3>
    <a href="/events/2016-vancouver/">
     Vancouver
    </a>
    -
    <a href="/events/2016-london/">
     London
    </a>
    -
    <a href="/events/2016-denver/">
     Denver
    </a>
    -
    <a href="/events/2016-kiel/">
      Kiel
    </a>
    <br>
    <a href="/events/2016-seattle">
      Seattle
    </a>
	-
    <a href="/events/2016-toronto">
      Toronto
    </a>
    -
    <a href="/events/2016-washington-dc">
      Washington, DC
    </a>
    -
    <a href="/events/2016-minneapolis">
      Minneapolis
  </h3>
</div>
